<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<div align="center">
    <h1>Liste d'Usagers</h1>

    <h3><a href="modifierUser">Modifier usager</a></h3>
        <table border="1" style="text-align:center;">
            <th class="ListeID">ID</th>
            <!--
            <th style="text-align:center;">Courriel</th>
            <th style="text-align:center;">Prénom</th>
            <th style="text-align:center;">Nom</th>
            -->

            <tr th:each="cat : ${categoryList}">
                <td th:text="${cat}" class="ListeID"></td>
            </tr>
            <!--
        <tr th:each="user : ${userList}">
            <td th:text="${user.iduser}" class="ListeID"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
        </tr>
        -->
    </table>
    <a th:href="@{/}">Retour</a>
</div>

</body>
</html>