<head xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="search_head">
        <meta charset="utf-8"/>
        <link href="css/style_search.css" type="text/css" rel="stylesheet"/>
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        -->
        <script src="js/search.js" type="text/javascript"></script>
    </th:block>
</head>