<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<div align="center">
    <h1>Liste d'Usagers</h1>
    <h3><a href="newContact">Nouvel Usager</a></h3>
    <table border="1" style="text-align:center;">
        <th class="ListeID">ID</th>
        <th style="text-align:center;">Prenom</th>
        <th style="text-align:center;">Nom</th>
        <th style="text-align:center;">Photo</th>
        <th style="text-align:center;">Action</th>

        <tr th:each="user : ${userList}">
            <td th:value="${userList.iduser}" class="ListeID"></td>
            <td th:value="${userList.firstname}"></td>
            <td th:value="${userList.email}"></td>
            <td><img th:src="${userList.avatar}" class="img-thumbnail" style="width:100px; height:100px;"></td>

            <!--
                        <td>
                        <!--
                            <a href="editContact?id=${contact.id}">Edit</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="deleteContact?id=${contact.id}">Delete</a>

            </td>

        </tr>
    </table>
        </div>
</body>
</html>
-->