<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="searchNull">
    <!-- Section control de page (#, previous/next) -->
<!--    <div class="paginationControl">
        <ul class="pagination">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
        <ul class="items-per-page nav nav-tabs">
            <li class="disabledTab"><a>Par page: </a></li>
            <li class="active"><a data-toggle="tab" href="#">10</a></li>
            <li><a data-toggle="tab" href="#">20</a></li>
            <li><a data-toggle="tab" href="#">30</a></li>
        </ul>
    </div>-->
    <!-- /Fin control Page -->

    <!-- Ligne/Spacer -->
    <div class="or-spacer">
        <div class="mask"></div>
    </div>

    <!-- Div un item -->
    <div class="searchItem">
        <!-- L'image de l'item -->
        <!-- Description de l'item -->
        <div class="searchItemDescription2">
            <div style="text-align:center">
            <h1>Aucun résultat...</h1>
            <h1 style="font-size: medium">Veuillez choisir une autre option</h1>
            </div>
        </div>
        <!-- Section côte de l'item -->

        <!-- Ligne/Spacer -->
        <div class="or-spacer">
            <div class="mask"></div>
        </div>
    </div>
    <!-- /Div un item -->

    <!-- Section control de page (#, previous/next) -->
<!--    <div class="paginationControl">
        <ul class="pagination">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
        <ul class="items-per-page nav nav-tabs">
            <li class="disabledTab"><a>Par page: </a></li>
            <li class="active"><a data-toggle="tab" href="#">10</a></li>
            <li><a data-toggle="tab" href="#">20</a></li>
            <li><a data-toggle="tab" href="#">30</a></li>
        </ul>
    </div>-->
    <!-- /Fin control Page -->
</div>
</body>
</html>