<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="searchNull">
    <!-- Ligne/Spacer -->
    <div class="or-spacer">
        <div class="mask"></div>
    </div>

    <!-- Div un item -->
    <div class="searchItem">
        <!-- L'image de l'item -->
        <!-- Description de l'item -->
        <div class="searchItemDescription2">
            <div style="text-align:center">
            <h1>Aucun résultat...</h1>
            <h1 style="font-size: medium">Veuillez choisir une autre option</h1>
            </div>
        </div>
        <!-- Section côte de l'item -->

        <!-- Ligne/Spacer -->
        <div class="or-spacer">
            <div class="mask"></div>
        </div>
    </div>
</div>
</body>
</html>