
.main-container {
    padding: 0px 0px;
    width:100%;
    margin-right:0px;
    margin-left:0px;
}
.skyblue {
    background-color: #00374C;
}
.deepskyblue {
    background-color: #00455F;
}
.darkerskyblue {
    background-color: #00455F;
}
.carousel-indicators {
    bottom: 30px;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 350px;
    height: 100%;
    width:100%;
}
.carousel-caption h3,
.carousel .icon-container{
    background-color: #09c;
}
.carousel-caption h3 {
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;

    border-radius: 50%;
}
.carousel-caption button {

    background-color:#00455F;
    margin-top: 1em;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}

.carousel-caption button:hover
{
    color:black;
    background-color:white;

}

/* Animation delays */
.carousel-caption h3:first-child {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.carousel-caption button {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    background: url("../images/WorldBanner6.jpg") repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 60s infinite linear;
    -moz-animation: move-map 60s infinite linear;
    -o-animation: move-map 60s infinite linear;
    -ms-animation: move-map 60s infinite linear;
    animation: move-map 60s infinite linear;
}

.ball:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -40px 10px 70px 10px rgba(0,0,0,0.5) inset;
    z-index: 2;
}

.ball:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(0);
    opacity: 0.3;
    background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}

/*.ball .shadow {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);*/
    /*-webkit-transform: rotateX(90deg) translateZ(-150px);*/
    /*-moz-transform: rotateX(90deg) translateZ(-150px);*/
    /*-ms-transform: rotateX(90deg) translateZ(-150px);*/
    /*-o-transform: rotateX(90deg) translateZ(-150px);*/
    /*transform: rotateX(90deg) translateZ(-150px);*/
    /*z-index: -1;*/
/*}*/


.stage {
    width: 500px;
    height: 275px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    -o-perspective: 2000px;
    perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
    0% {
        background-position: -2000px 0; }

    100% {
        background-position: 0 0; } }

@-webkit-keyframes move-map {
    0% {
        background-position: 0 0; }
    100% {
        background-position: -2000px 0; }
}


@-o-keyframes move-map {
    0% {
        background-position: -2000px 0; }

    100% {
        background-position: 0 0; } }

@-ms-keyframes move-map {
    0% {
        background-position: -2000px 0; }

    100% {
        background-position: 0 0; } }

@keyframes move-map {
    0% {
        background-position: -2000px 0; }

    100% {
        background-position: 0 0; } }