/* Section Search Options (Div gauche) */
#searchOptions{
    min-height: 300px;
    background: #30697D;
    border: 2px solid #003042;
    padding-bottom: 1em;
    padding-top: 1em;
}
#searchResults{
    min-height: 500px;
    background: #30697D;
    border: 2px solid #003042;
    padding-bottom: 1em;
}
.mainCategory{
    margin-right: 1em !important;
}
.category-Selection{
    padding: 0 !important;
    list-style: none;
    overflow: none;
    display: block;
    background-color: white;
    border-radius: 2px;
}
.category-Selection ul{
    padding-left: 13px;
}
.category-Selection li{
    list-style: none;
}
#listSelected{
    display: normal;
}
.selectedSubCategories{
    padding-right: 5px; 
}
.disappear{
    background-color: transparent;
    border:none;
    pointer-events: none;
}
.btnBootPerso{
    width: 100%;
    text-align: left !important;
    background:#00374C !important;
    border-color: #003042 !important;
}
.btnBootPerso:focus{
    border-color: #003042 !important;
    outline-color: #003042 !important;
}
.btnDisabled{
    pointer-events: none;
}

/* Section Resultats du search (Div droite) */
.searchItem{
    width: 100%;
    height: 120px;
    display: inline-block;
    margin: 1em auto auto auto;
}
.searchItemImage{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
}
.searchItemImage img{
    height: 100%;
    width: 100%;
}
.seachItemName{
    font-weight: bolder;
}
.searchItemDescription{
    width:50%;
    height:100%;
    display: inline-block;
    overflow: hidden;
    color: white;
    padding: 4px;
}
.searchVerticalBar{
  width: 10px;
  height: 100%;
  display: inline-block;
  position:relative; 
}
.searchVerticalBar .mask {
  overflow: hidden;
  height: 100%;
}
.searchVerticalBar .mask:after{
  content: '';
  display: inline-block;
  width: 10px;
  height: 100%;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.searchItemQuality{
  width: 20%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  margin-left: 35px;
}
.searchItemQuality span{
  pointer-events: none;
}
.searchItem-img-troke{
  width: 40px;
  height: 40px;
}
.btn-troke{
  width:84%;
  margin-top: 20%;
  padding-left: 8px !important;
}
.btn-troke:hover{
  background: #004763 !important;
}
/* Section control de page (#, previous/next) */
.paginationControl{
    color: #00374C !important;
}
.disabledTab{
    pointer-events: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 2px;
    background: #fff !important;
}
.disabledTab a{
    color:black !important;
}
.pagination{
    margin-bottom: 0 !important;
}
.pagination li a{
    background: white;
    color:black !important;
}
.pagination li.active a{
    background: #00374C !important;
    color:white !important;
    border-color: #00374C;
}
.pagination li.active a:hover{
    border-color: #00374C;
}
.items-per-page{
    float: right;
    margin: 20px 0;
    height: 34px;
    overflow: hidden;
    border-bottom: none !important;
}
.items-per-page li{
    height: inherit;
    border-radius: 4px !important;
}
.items-per-page li a{
    color:white;
    line-height: 1 !important;
    border-radius: 4px !important;
}
.items-per-page li a:hover{
    color:black !important;
    border-radius: 4px !important;
}
.items-per-page li a:focus{
    border-radius: 4px !important;
}
.items-per-page li.active a{
    background: #00374C !important;
    color:white !important;
    border: 1px solid rgb(221, 221, 221) !important;
    height: 34px;
}

/*Ligne de séparation / spacer */
/* Spacer */
.or-spacer {
  width: 100%;
  position: relative;
  margin-top: 1em;
}
.or-spacer .mask {
  overflow: hidden;
  height: 10px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.barMask { 
    overflow:hidden; 
    width:20px; 
    height:100%; 
}
.right .barMask:before { 
    content:''; 
    display:inline-block; 
    margin-left:20px;
    width:20px; 
    height:100%; 
    border-radius:12px / 125px; 
    box-shadow:0 0 8px black;
}

/* Item Quality */
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
  margin-left    : 4px;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}