#pageTroker{
	height: 100%;
	cursor: default;
	position: static;
	padding: 0;
	font-family: "Amaranth",sans-serif;
	font-size: 100%;
}
.tradePage{
	margin-top: 1%;
	height: 100%;
}
/* Options Item */
.icon-exchange:before{
	content:"";
}
.icon-refresh:before{
	content:"";
}
.btn-option-item{
	width: 30% !important;
	height: 100% !important;
}
.optionsInventoryItem{
	background: url("../images/inventory_item_overlay.png") no-repeat center center !important;
	background-size: 100% !important;
	width:100%;
	height:25px;
	top: -24px;
	position: relative;
}
.optionsExchangeItem{
	background: url("../images/exchange_item_overlay.png") no-repeat center center !important;
	background-size: 100% !important;
	width:100%;
	height:25px;
	top: -20px;
	position: relative;
}
.optionsInventoryMoney{
	background: url("../images/inventory_money_overlay.png") no-repeat center center !important;
	background-size: 100% !important;
	width:100%;
	height:25px;
	top: -24px;
	position: relative;
}
.optionsExchangeMoney{
	background: url("../images/exchange_money_overlay.png") no-repeat center center !important;
	background-size: 100% !important;
	width:100%;
	height:25px;
	top: 1px !important;
	position: relative;
}
/* ToolTips */
.tooltip{
	display: inline !important;
	position: relative !important;
}
.tooltip:hover:after{
	background: #333 !important;
	background: rgba(0,0,0,.8) !important;
	border-radius: 5px !important;
	bottom: 26px !important;
	color: #fff !important;
	content: attr(title) !important;
	left: 20% !important;
	padding: 5px 15px !important;
	position: absolute !important;
	z-index: 98 !important;
	width: 220px !important;
}
.tooltip:hover:before{
	border: solid !important;
	border-color: #333 transparent !important;
	border-width: 6px 6px 0 6px !important;
	bottom: 20px !important;
	content: "" !important;
	left: 50% !important;
	position: absolute !important;
	z-index: 99 !important;
}

/* Avatars des Inventaires */
.userInventoryAvatar{
	width: 50px;
	height: 50px;
	position: relative;
	top: -10px;
	left: -15px;
	background:no-repeat center center ;
	background-size: 160% !important;
	float: left;
	border-radius: 100%;
	border: 2px solid #DBDBDB;
}
.opponentInventoryAvatar{
	width: 50px;
	height: 50px;
	position: relative;
	top: -10px;
	left: 15px;
	background: no-repeat center center;
	background-size: 160% !important;
	float: right;
	border-radius: 100%;
	border: 2px solid #DBDBDB;
}
/* Inventory Containers */
.UserInventoryContainer{
	width: 300px;
	height: 650px;
	background-color: #00374C;
	overflow: visible;
	float:left;
	border: 2px solid #003042;
}
.OpponentInventoryContainer{
	width: 300px;
	height: 650px;
	background-color: #00374C;
	overflow: visible;
	float:left;
	position: static;
	border: 2px solid #003042;
}
.startTrade-OpponentInventoryContainer{
	width: 435px;
	height: 542px;
	background-color: #00374C;
	overflow: visible;
	float:left;
	position: static;
	border: 2px solid #003042;
}
/* Zone UserInventory */
#UserInventory {
	font-family: "Amaranth";
	font-weight: normal;
	background-color: #00374C;
	float: left;
	height: 600px;
	max-height: 600px;
	list-style: none;
	overflow-x: visible;
	overflow-y: auto;
	position: static;
	width: 296px;
}
.UserInventory-header{
	text-align: center;
	color: white;
	margin: 4px 0 4px 0 !important;
	padding: 2px;
	background: #00374C url('../images/Trade-Header-Fade.png') no-repeat center center !important;
	background-size: 100% !important;
	border-right:none !important;
	border-left:none !important;
	border-top: 1px solid #DBDBDB !important;
	border-bottom: 1px solid #DBDBDB !important;
	height: 24px;
	font-size: 100% !important;
}
#UserInventory.custom-state-active {
	background: #eee;
}
#UserInventory li {
	float: left;
	width: 130px;
	max-width: 130px;
	height:125px;
	margin: 3px;
	text-align: center;
	cursor:move;
	border-radius: 3px;
	z-index: 1000;
	display: list-item;
	overflow: hidden;
	border: 1px solid #DBDBDB !important;
}
#UserInventory li h5 {
	text-align: center;
	color: white;
	margin: 0;
	border: 2px solid #00374C;
	background: #00374C;
}
#UserInventory li .icon-zoom  {
	float: left;
	width: 20px;
	height:20px;
	cursor: pointer;
}
#UserInventory li .icon-exchange {
	float: right;
	width: 20px;
	height:20px;
	cursor: pointer;
}
#UserInventory li img {
	width: 100%;
	cursor: move;
	height: 80%;
}
.UserItem .OpponentItem{
	background-color: #ccc;
	-webkit-box-shadow: inset 0 0 3px #000;
	-ms-box-shadow: inset 0 0 3px #000;
	box-shadow: inset 0 0 3px #000;
}
.lb-money{
	width:10%;
}
.inputMoney{
	width:80%;
}
.divInputMoney{
	width: 96%;
	margin: 30% 0 10% 0;
}
/* Zone OpponentInventory */
#OpponentInventory {
	font-family: "Amaranth";
	font-weight: normal;
	background-color: #00374C;
	height: 600px;
	max-height: 600px;
	list-style: none;
	overflow-x:hidden;
	overflow: auto;
	position: static;
	width: 296px;
}

.startTrade-OpponentInventory {
	max-height: 90% !important;
	height: 480px !important;
	width: 430px !important;
}
.OpponentInventory-header{
	text-align: center;
	color: white;
	margin: 4px 0 4px 0 !important;
	padding: 2px;
	background: #00374C url('../images/Trade-Header-Fade.png') no-repeat center center !important;
	background-size: 100% !important;
	border-right:none !important;
	border-left:none !important;
	border-top: 1px solid #DBDBDB !important;
	border-bottom: 1px solid #DBDBDB !important;
	height: 24px;
	font-size: 100% !important;
}
#OpponentInventory.custom-state-active {
	background: #eee;
}
#OpponentInventory li {
	float: left;
	width: 130px;
	max-width: 130px;
	height:125px;
	margin: 3px;
	text-align: center;
	cursor:move;
	z-index: 1000;
	display: list-item;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #DBDBDB !important;
}
#OpponentInventory li h5 {
	text-align: center;
	color: white;
	margin: 0;
	border: 2px solid #00374C;
	background: #00374C;
}
#OpponentInventory li .icon-zoom  {
	float: left;
	width: 20px;
	height:20px;
	cursor: pointer;
}
#OpponentInventory li .icon-exchange {
	float: right;
	width: 20px;
	height:20px;
	cursor: pointer;
}
#OpponentInventory li img {
	width: 100%;
	max-width: 130px;
	height: 80%;
	cursor: move;
}
/* éléments qui englobe les 2 zones d'échanges' */
#exchangeZone{
	height: 600px;
	width: 46%;
	float:left;
	padding-right: 15px;
	padding-left: 15px;
	position: static;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Amaranth";
	font-weight: normal;
}
.startTrade-exchangeZone{
	margin-left: 5% !important;
}
.btn-offre{
	margin: 0 0 5px 0 !important;
	width: 48%;
	height: 52px;
	color: white;
	font-weight:normal !important;
	text-transform: none !important;
	font-size: 100% !important;
	z-index: 1;
}
.exchangeZoneHeader{
	text-align: center !important;
	color: white !important;
	margin: 4px 0 4px 0 !important;
	padding: 2px;
	background: #00374C url('../images/Trade-Header-Fade.png') no-repeat center center !important;
	background-size: 100% !important;
	border-right:none !important;
	border-left:none !important;
	border-top: 1px solid #DBDBDB !important;
	border-bottom: 1px solid #DBDBDB !important;
	height: 24px;
	font-size: 100% !important;
}
/* Zone Echange User */
#UserExchange {
	background: #00374C;
	width: 100%;
	display: inline-block;
	height: 150px;
	max-height: 147px;
	list-style: none;
	overflow-y: hidden;
	overflow-x: auto;
	border: 2px solid #003042;
}
#UserExchange h4 .ui-icon {
	float: left;
}
#UserExchange .UserInventory h5 {
	display: none;
}
#UserExchange li {
	float: left;
	width: 96px;
	height:115px;
	max-height: 115px;
	margin: 6px;
	text-align: center;
	cursor:move;
	display: list-item;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #00374C;
}
#UserExchange li .icon-refresh{
	float: right;
	width: 20px;
	height:20px;
	cursor: pointer;
}
#userExchangeItems{
	background: #00374C;
}
/* Zone Echange Opposant Pour la page démarer trok*/
#opponentExchangeItemsStart{
	background: #00374C;
	width: 100%;
	display: inline-block;
	height: 210px;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	border: 2px solid #003042;
	margin-bottom: 2%;
}
#opponentExchangeItemsStart h4 .ui-icon {
	float: left;
}
#opponentExchangeItemsStart .OpponentInventory h5 {
	display: none;
}
#opponentExchangeItemsStart li {
	float: left;
	width: 96px;
	height:115px;
	margin: 6px;
	text-align: center;
	cursor:move;
	display: list-item;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #00374C;
}
#opponentExchangeItemsStart li .icon-refresh{
	float: right;
	width: 20px;
	height:20px;
	cursor: pointer;
}
/* Zone Echange Opposant */
#OpponentExchange {
	background: #00374C;
	width: 100%;
	display: inline-block;
	height: 150px;
	max-height: 147px;
	list-style: none;
	overflow-y: hidden;
	overflow-x: auto;
	border: 2px solid #003042;
}
#opponentExchangeItems{
	background: #00374C;
}
#OpponentExchange h4 {
	text-align: center;
	color: white;
	margin: 0;
	border: 2px solid #00374C;
	background: #00374C;
}
#OpponentExchange h4 .ui-icon {
	float: left;
}
#OpponentExchange .OpponentInventory h5 {
	display: none;
}
#OpponentExchange li {
	float: left;
	width: 96px;
	height:115px;
	margin: 6px;
	text-align: center;
	cursor:move;
	display: list-item;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #00374C;
}
#OpponentExchange li .icon-refresh{
	float: right;
	width: 20px;
	height:20px;
	cursor: pointer;
}
/* Zone Clavardage */
#zoneChat{
	width: 100%;
}
#chatBoxStartExchange{
	width: 100%;
	height: 208px;
	resize: none;
	background-color: white;
	pointer-events: none;
}
#chatBox{
	width: 100%;
	height: 107px;
	background-color: white;
}
#chatEnter{
	width: 80%;
}
#btn-enter{
	width: 20%;
	float: right;
}
/* Option Info Item Button */
.montantArgent{
	font-size: 14px;
}
.icon-zoom  {
	float: left;
	width: 20px;
	height:20px;
	cursor: pointer;
	text-indent:-9999px;
	display: block;
}
.link-zoom{
	width: 40%;
	height: inherit;
	cursor: pointer;
	float: left;
}
.btn-zoom{
	background-image:url('../images/zoom_icon.png');
	float: left;
	width: 20px;
	height:20px;
	cursor: pointer;
	text-indent:-9999px;
	display: block;
}
.follower{
	width: inherit;
	height: inherit;
	position: inherit;
}
/* Les highlight des zones pour guider le user */
.ui-state-highlight{
	background: white !important;
}
.custom-state-active{
	background: white !important;
}
/*Open Modal Info Item Overlay*/
.modal-box {
	position: fixed;
	font-family: "Amaranth";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;*/
	pointer-events: none;
}
.modal-box-show {
	opacity:1;
	pointer-events: auto;
	display: block !important;
}
.modal-box > div {
	width: 600px;
	height: inherit;
	position: relative;
	margin: 1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3) !important;
}
.close {
	background: #ffffff;
	color: #000000;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	opacity:100 !important;
}
.close:hover {
	background: #00ADEE;
	color:#ffffff !important;
	opacity:100 !important;

}
/* Spacer */
.or-spacer {
	width: 90%;
	position: relative;
	margin: auto;
}
.or-spacer .mask {
	overflow: hidden;
	height: 10px;
}
.or-spacer .mask:after {
	content: '';
	display: block;
	margin: -25px auto 0;
	width: 100%;
	height: 25px;
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px black;
}
/* Éléments du Modal Info Item*/
.mainImage{
	width: 250px;
	height: 68%;
	border: 2px groove black;
}
.divSubImages {
	float:left;
	background-color: darkgray !important;
	border: 1px solid dimgray !important;
	padding-top: 5px;
	overflow: hidden;
	width: 100%;
	height: 20%;
}
.subImage{
	width: 50px;
	height: 50px;
}
.description{
	float:right;
	width:50%;
	height: 47%;
	margin: auto;
}
/* Scroll image infoItem */
.divSubImages img, .mainImage {
	border: 1px solid gray;
	padding: 4px;
	background-color: white;
	cursor: pointer;
}
.divSubImages img {
	float: left;
	margin: 2.4%;
}
.panel {
	position: relative;
}
.gallery{
	height: 370px;
	display: inline-block;
}
.ui-widget-header{
	font-weight:normal !important;
	padding: 2px;
	background: #00374C url('../images/Trade-Header-Fade.png') no-repeat center center !important;
	background-size: 100% !important;
	height: 24px;
	font-size: 100% !important;
}
/* Container pour les divs échanges qui permet le scroll horizontal */
.container-outer {
	overflow: hidden;
	width: 100%;
	max-height: 150px !important;
	height: 150px;
}
.container-mid{
	height: 115px !important;
	overflow-y: hidden !important;
	overflow-x: auto !important;
}
.container-inner {
	width: 1020px !important;
	height: 90px;
	max-height: 150px !important;
	background: #30697D;
	border:none !important;
}

@media screen and (max-width : 1200px){
	#exchangeZone{
		width:35% ;
	}
	.startTrade-exchangeZone{
		width: 46% !important;
	}
}
/* Tablets */
@media screen and (max-width : 1024px) {/*(min-device-width : 768px) and */
	.UserInventoryContainer{
		width: 44.5%;
		height: 35%;
		display: inline-block;
		margin-left: 5%;
		margin-right: 0.4%;
		margin-bottom: 0.4%;
	}
	#UserInventory{
		width: 100%;
		height: 77%;
		display: inline-block;
		margin-right: 0.6%;
	}
	#UserInventory li{
		width: 30%;
	}
	#UserExchange{
		width:49.5%;
		height: 35%;
		display: inline-block;
	}
	.OpponentInventoryContainer{
		width: 44.5%;
		height: 35%;
		display: inline-block;
		margin-bottom: 0.4%;
	}
	#OpponentInventory{
		width: 100%;
		height: 77%;
		display: inline-block;
	}
	#OpponentInventory li{
		width: 30%;
	}
	#OpponentExchange{
		width:49.5%;
		height: 35%;
		display: inline-block;
	}
	#exchangeZone{
		width:90%;
		margin: 0 5% 0 5%;
		padding: 0 !important;
	}
	#pageTroker {
		height: 100%;
		cursor: default;
		position: static;
	}
	#zoneChat{
		height:30%;
	}
	.startTrade-exchangeZone{
		width: 80% !important;
		height: 70% !important;
		margin: 0% 0% 1% 10% !important;
	}
	.startTrade-OpponentInventoryContainer{
		width: 80% !important;
		height: 33% !important;
		margin: 1% 0 1% 10% !important;
	}
	.startTrade-OpponentInventory{
		width: 98% !important;
		height: 70% !important;
	}
	#opponentExchangeItemsStart{
		height: 94px !important;
	}
	#chatBoxStartExchange{
		height: 100px !important;
	}
}
@media screen and (max-width: 992px){
	.OpponentInventoryContainer{
		margin-left: 0.12%
	}
}
@media screen and (max-width : 650px){
	#UserInventory li{
		width: 47%;
	}
	#OpponentInventory li{
		width: 47%;
	}
	.modal-box > div{
		width:80%;
	}
	.gallery{
		height: 50%;
		width: 45%;
	}
	.mainImage{
		width: 100%;
	}
	.subImage{
		width: 20%;
		height: 80%;
	}
}
/* Mobile */
@media screen and (max-width : 480px){ /*(min-device-width : 320px) and */
	.optionsInventoryItem{
		top:-14px;
	}
	.UserInventoryContainer{
		width: 44.4%;
		height: 35%;
		display: inline-block;
		margin-left: 7.5%;
		margin-right: 1%;
	}
	#UserInventory{
		width: 100%;
		height: 76%;
		display: inline-block;
		/*margin-left: 7.5%;
		margin-right: 1%;*/
	}
	.UserInventory-header{
		font-size: 60% !important;
		background-image: url('../images/Trade-Header-Fade.png');
	}
	#UserInventory li{
		width: 45%;
		height: 70px;
	}
	#UserInventory li img{
		height:40px;
	}
	#UserInventory li .icon-zoom  {
		position: relative;
		margin-top: -2px;
		width: 12px;
		height: 12px;
	}
	#UserInventory li .icon-exchange {
		position: relative;
		margin-top: -2px;
		width: 12px;
		height: 12px;
	}
	#UserExchange{
		width: 49.2%;
		height: 35%;
		display: inline-block;
	}
	.OpponentInventoryContainer{
		width: 44.4%;
		height: 35%;
		display: inline-block;
	}
	#OpponentInventory{
		width: 100%;
		height: 76%;
		display: inline-block;
	}
	.OpponentInventory-header{
		font-size: 60% !important;
		background-image: url('../images/Trade-Header-Fade.png');
	}
	#OpponentInventory li{
		width: 45%;
		height: 70px;
	}
	#OpponentInventory li img{
		height:40px;
		position: relative;
	}
	#OpponentInventory li .icon-zoom  {
		position: relative;
		margin-top: -2px;
		width: 12px;
		height: 12px;
	}
	#OpponentInventory li .icon-exchange {
		position: relative;
		margin-top: -2px;
		width: 12px;
		height: 12px;
	}
	.startTrade-OpponentInventory li{
		height: 90px !important;
	}
	.startTrade-OpponentInventory li img{
		height: 63% !important;
	}
	#OpponentExchange{
		width: 49.2%;
		height: 35%;
		display: inline-block;
	}
	.ui-widget-header{
		font-size: 60% !important;
		background-image: url('../images/Trade-Header-Fade.png');
	}
	#exchangeZone{
		width:90%;
		margin: 2% 7.5% 0 7.5%;
		padding: 0;
	}
	#pageTroker {
		height: 100%;
		cursor: default;
		position: static;
	}
	#zoneChat{
		height:30%;
	}
	#btn-enter{
		width: 30%;
	}
	#chatEnter{
		width: 70%;
	}
	#chatBoxStartExchange{
		height: 100px;
	}
	.btn-offre{
		font-size: 70% !important;
	}
	.container{
		padding-left: 0;
	}
	.modal-box > div{
		width:80%;
		height:80%;
		top:35px;
	}
	.gallery{
		height: 74%;
	}
	.description{
		height: 70%;
	}
}



