
.aboutDiv
{
    background-color: #00455F;
    height:500px;
    width:100%;
    text-align:center;


}


.circular {
    z-index:2;
    display:flex;
    width: 75px;
    height: 75px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-color: rgb(0,69,95);
}

.circularimage
{
    width: 75px;
    height: 75px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    cursor:pointer;
    z-index:2;

}

.circularimageclick
{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
    cursor:pointer;
    margin-top:110px;


}



.main-container {
    padding: 0px 0px;
    width:100%;
    margin-right:0px;
    margin-left:0px;
}
.skyblue {
    background-color: #000;
}
.deepskyblue {
    background-color: #00455f;
}
.darkerskyblue {
    background-color: #000;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 350px;
    height: 100%;
    width:100%;

}
.carousel-caption h3,
.carousel .icon-container{
    background-color: #00455f;
}
.carousel-caption h3 {
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;

}
.carousel-caption button {

    background-color:#000;
    margin-top: 1em;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;

}

.carousel-caption button:hover
{
    color:black;
    background-color:white;

}

.carousel-caption
{
    display:inline-flex;
    text-align:center;


}

/* Animation delays */
.carousel-caption h3:first-child {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.carousel-caption button {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#InfoYvon
{
    position:absolute;
    margin-top:35%;
    width:500px;
    left:-50%;
    height:100px;
    visibility: hidden;


}

#InfoAlex
{
    position:absolute;
    margin-top:35%;
    width:500px;
    left:-25%;
    height:100px;
    visibility: hidden;


}

#InfoShaun
{
    position:absolute;
    margin-top:35%;
    width:500px;
    left:25%;
    height:100px;
    visibility: hidden;

}

#InfoManu
{
    position:absolute;
    margin-top:35%;
    width:500px;
    left:-1%;
    height:100px;
    visibility: hidden;

}


.LinkedinLogo
{
    display:flex;
    margin-top:0px;
    margin-left:-75px;
    width:75px;
    height:75px;
    border-radius:100%;

    z-index:1;
}

#InfoProjet
{
    position:relative;
    left:25%;
    padding-top:1%;
    padding-bottom:1%;
    width:50%;
    height: 100%;

}

.LowBanner
{
    position:relative;
    width:100%;
    height:35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    background: #fff;
    padding-top:5px;
    margin-top:50px;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.HighBanner
{
    position:relative;
    width:100%;
    height:50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}



.bigEntrance{
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;

    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}

@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}
