#searchOptions{
    min-height: 500px;
    background: #30697D;
    border: 2px solid #003042;
}
#searchResults{
    min-height: 500px;
    background: #30697D;
    border: 2px solid #003042;
}
.dropDown-Category{
    padding: 0 !important;
    list-style: none;
    overflow: none;
    display: block;
}
.dropDown-Category ul{
    padding-left: 10px;
}
.dropDown-Category li{
    list-style: none;
}