#home{
	width: 100%;
	height: 500px;
}
#carouselConatiner{
	margin: 10px auto 10px auto;
	width:90%;
	height:235px;
	background-image:url("../images/WorldBanner6.jpg") ;
	background-repeat: no-repeat;
	background-size:cover;
	border: 2px solid #003042;
	box-shadow: 0 0 2em #002042;
	padding: 0px;
	moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index:90;
}
#categories{
	padding: 60px;
	margin: 6px;
	width:99%;
	/*min-height: 300px;*/
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #30697D;
	border: 2px solid #003042;
	box-shadow: 0 0 2em #002042;
	-moz-column-count: 4;
    -moz-column-gap: 4em;
    -webkit-column-count: 4;
    -webkit-column-gap: 4em;
    column-count: 4;
    column-gap: 4em;
}
.myCategory{
	background-color: white;
    display: inline-block;
    width: 100%;
	margin: 6px;
	text-align: center; 
	border-radius: 4px;
}
.myCategory > header{
	text-align: center;
    color: white;
    margin: 0;
    border: 2px solid #00374C;
    background: #00374C;
	border-radius: 4px 4px 0 0;
}
.myCategory > ul{
	list-style: none;
	padding: 0;
}
.myCategory > li{
	width:80%;
}
.lienCategorie{
	color: black;
	
}
.lienCategorie:hover{
	background-color: #30697D;
	color:white;
}

/* Carousel */

@media (max-width: 767px){
.carousel .row .span3 {
display: block;
float: left;
width: 25%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
}
.carousel .row .span3 {
display: block;
float: left;
width: 12.5%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.carousel-control{
	width:8% !important;
}
.carousel-inner{
	width:90% !important;
	margin: auto;
}
.image-carousel-item{
	height: 60px !important;
	width: 60px !important;
	min-height: 60px;
	min-width: 60px;
}
.product-item{
	width: 60%;
    margin: auto;
	background: none !important;
	border: none !important;
	margin-top: 10px;
	transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.product-item:hover{
	-webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
    transform:scale(1.4);
	transition: all 0.6s ease;
 }

