.mainDiv
{
    display:inline-flex;
    width:100%;
    height:600px;
}

.leftDiv
{
    display:inline-block;
    width:45%;
    height: 98%;
    margin-top:1px;
    margin-left:2px;
    background-color: #00455F;



}

.rightDiv
{
    display:inline-block;
    width:54%;
    margin-top:1px;
    margin-left:2px;
    height:98%;


}

.profilDiv
{
    display:inline-flex;
    height:40%;
    width:100%;
    background:#00455f;

}

.coteDiv
{

    color: #fff;
    margin-top:5%;
    height:25%;
    width:100%;





}

.innerCote
{
    padding-top:10px;
    padding-bottom:10px;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    border : 1px solid black;
    color:#000;
}
.profilPhotoDiv
{

    height:300px;
    width:40%;
    margin-top:15px;


}

.categorieCombo
{
    height:46px;
    margin-top:8px;
    border: 1px solid black;
    cursor: pointer;

}


.profilInfoDiv
{
    display:inline-table;
    height:100%;
    width:60%;
    color:white;


}
.profilWelcome
{
    width:96.5%;
    height:15%;
    color:black;
    margin-top:2%;

    margin-bottom:2%;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);

}
.profilLeftDiv
{

    display:inline-table;
    width:48%;
    color:white;


}

.profilRightDiv
{
    display:inline-table;
    width:48%;
    height:50px;

}

.emailDiv
{
    width:95%;
}

.profilInfoButtons
{
    display:inline-block;
    height:10%;
    text-align:center;
    width:100%;
    margin-top:5%;

}

.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('star-off.svg');
    background-size : contain;
}

.starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('star-on.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}

.circular {
    width: 75px;
    height: 75px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circularimage
{
    width: 75px;
    height: 75px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-transition: all 500ms ease; /* Safari and Chrome */
    -moz-transition: all 500ms ease; /* Firefox */
    -ms-transition: all 500ms ease; /* IE 9 */
    -o-transition: all 500ms ease; /* Opera */
    transition: all 500ms ease;

}

.circularimage:hover
{
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);


}

/* Modal connexion */
.modalDialogPassword {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogPassword:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialogPassword > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialogAjouter {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogAjouter:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialogAjouter > div {
    width: 600px;
    position: absolute;
    margin-top:5%;
    margin-left:30%;

    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialogDelete {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogDelete:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialogDelete> div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.divModalAjoutTop
{

    display:inline-flex;

}

.divModalAjoutPhotosTOP
{
    display:inline-flex;
    margin-top:5px;
}

.divModalAjoutPhotosDOWN
{
    display:inline-flex;
}
.divModalAjoutQualite
{
    vertical-align: center;
    padding-left:20px;
    padding-top:5px;
    height:50px;
}

.divModalAjoutDescriptionPhoto
{
    width:100%;
    height:70%;
    display:inline-flex;
}
.divModalAjoutDescription
{
    width:50%;
}
.divModalAjoutPhotos
{
    width:45%;
}

.basdeModal
{
    display:inline-flex;
    width:100%
    float:right;
}

.basdeModalButtons
{
    /*margin-left:110px;*/
    display:inline-flex;
    float:right;

}

.categorieCombo
{
    height:46px;
    margin-top:8px;
    border: 1px solid black;
    cursor: pointer;

}

.carousel-indicators > li:hover {
    transition: 100ms ease-in-out;
    border: 5px solid white;
}

.carousel-indicators > li.active {
    border: 2px solid black;
}

#MyProfil
{

    height:800px;
    margin-top:10px;
    margin-bottom:50px;
}

#MyInventory
{

    height:600px;
    margin-top:10px;
    margin-bottom:50px;
}

#LeftSpace
{



}

#RightSpace
{



}

#MiddleInfo
{
    padding-right:0px;
    padding-left:0px;
    background-color:white;
    height:750px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;

}

#ProfilBanner
{
    clear: both;
    margin: 0px auto;

    background-image:url("../images/WorldBanner6.jpg") ;
    background-size:cover;
    height:35%;

    -moz-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;


}

#InventoryBanner
{
    clear: both;
    margin: 0px auto;

    background-image:url("../images/WorldBanner6.jpg") ;
    background-size:cover;
    height:20%;

    -moz-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;


}
#PhotoProfil
{
    margin-top:5px;
    margin-bottom:5px;
    display:inline-flex;

    border: 2px solid white;
    background-color:#00374C;

    z-index:10;

    height:200px;
    width:200px;

    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#NameBanner
{
    padding:0 0 0 0;
    height:100%;
}

#UserName
{
    color:white;
    font-family:'Amaranth';
    font-size:22px;



}

#RectangleName
{
    position:absolute;
    padding-top:8px;
    z-index:5;
}
#RectangleName2
{
    position:absolute;
    padding-top:8px;
    z-index:5;
}

#ProfilInfo
{
    margin-top:15px;
    height:35%;
    font-family:'Amaranth';
}

#InventoryInfo
{

    padding:0 0 0 0;
    height:100%;
    font-family:'Amaranth';
}

#ProfilButtons
{
    height:10%;
    font-family:'Amaranth';
    margin-top:10px;


}

#ProfilEmail
{
    height:15%;
    margin-left:0px;
    margin-right:0px;
    font-family:'Amaranth';
}

#errprenom
{
    display:none;
}
#errnom
{
    display:none;
}
#errcode
{
    display:none;
}
#errtel
{
    display:none;
}
#erremail
{
    display:none;
}

#InventoryContainer
{
    background-color:#00374C;
    -moz-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;

    height:100%;

}

.bubbleinv
{
    background-image:url("../images/WorldBanner6.jpg") ;
    background-size:cover;
}

#Innerdiv
{
    background-color:#00374C;
    -moz-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    height:100%;
    overflow:auto;

}

#innerbtn
{
    margin: 0 auto;
    margin-bottom:50px;
    margin-top:20px;

}

#iconMod
{
    margin-right:5px;
    margin-left:5px;
}

#iconMod:hover
{
   cursor:pointer;
}
#iconDel
{
    margin-right:5px;
    margin-left:5px;
}
#iconDel:hover
{
    cursor:pointer;
}
#iconAdd
{
    margin-right:5px;
    margin-left:5px;

}
#iconAdd:hover
{
    cursor:pointer;

}

#iconAdd2
{
    margin-right:5px;
    margin-left:5px;

}
#iconAdd2:hover
{
    cursor:pointer;

}

#topAdd
{
    margin-top:15px;
    z-index:15;
    position:absolute;
}
a{
    text-decoration: none;
}

#AddButton
{
    text-align:center;
    z-index:90;
    height:100%;
    width:100%;
    opacity:.8;
    background-color:black;
    position:absolute;
    -moz-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

.DescTextArea
{
    height:auto;
    width:80%;
    color:white;
    overflow:hidden;
    /*border: 3px double #CCCCCC;*/
    background-color:#00ADEE;
    word-wrap: normal;
}

textarea.form-control {
    height: 100%;
}