
.dd {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.da {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.dn {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.dg {
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.de {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.dr {
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.do {
    animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
    -webkit-animation-delay: 3.0s;
}

.zz {
    animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}

.zo {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.zn {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.ze {
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

#logo {
    color: #FFF;
    font-family: 'Offside';
    font-size: 25px;
    height:auto;
    z-index:101;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.padbot
{
    padding-top:50px;
}

#nav_bar {

    border: 0;
    border-radius: 0px;
    margin-bottom: 0px;
    width:100%;

    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);



}
.Logo {
    position: absolute;
    top: 4%;
    left: 6%;
    z-index: 11;
    width: 5%;
    height: 5%;

}

#Banniere {
    width: 100%;
}

.TitleOver {
    position: absolute;
    top: 9%;
    left: 60%;
    z-index: 10;
}

.TitleGallery {
    position: relative;

}

.basdepage {
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 50%;

    color: #FFF;
    padding-top: 1%;
    padding-bottom: 1%;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    left: 0pt;
    z-index: 100;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.footerSpacer {
    height: 60px;
}

.BTN_Inscription {
    position: absolute;
    top: 3%;
    right: 0%;
    z-index: 10;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}

.BTN_Inscription:before {
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: 10;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    background: #2098d1;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.BTN_Inscription:hover, .BTN_Inscription:focus, .BTN_Inscription:active {
    cursor: pointer;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.BTN_Inscription:hover:before, .BTN_Inscription:focus:before, .BTN_Inscription:active:before {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.BTN_Connexion {
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: 10;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.BTN_Connexion:before {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 10;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.BTN_Connexion:hover, .BTN_Connexion:focus, .BTN_Connexion:active {
    cursor: pointer;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.BTN_Connexion:hover:before, .BTN_Connexion:focus:before, .BTN_Connexion:active:before {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.BTN_Creds {
    width: 22%;
    position: absolute;
    top: -32px;
    right: 0%;
    z-index: 10;
}

.btn-signup{
    width: 100%;
}

.BTN_Change {
    display:inline-flex;

}

.portioncentrale {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;

}

.categoriess{
    font-size: 13px;
}

#thumbnaileffect {

    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#thumbnaileffect:hover, #thumbnaileffect:focus, #thumbnaileffect:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#contenant {
    display: inline-block;
}

@media (max-width: 767px) {

    #titleover {
        display: none;
    }

    #BTNCon {
        display: none;
    }

    #BTNIns {
        display: none;
    }

    #BTNCreds {
        display: none;
    }

}

.imagerolling {
    transition: all 2s ease-in-out;
    -webkit-transform: scale(1.1);
    -webkit-transform: translateY(-80%);
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;

}

.bannerrolling {

    transition: all 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateY(-80%);

}

.menubar {

    transition: all 2s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateY(-260%);
}

.menuLogoHide {
    float: left;
    width: 100px;
    display: none;
}

.menuLogoShow {
    float: left;
    width: 100px;
    display: block;
    cursor: pointer;
}

.close {
    background: #ffffff;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 100 !important;
}

.close:hover {
    background: #00ADEE;
    color: #ffffff !important;
    opacity: 100 !important;

}

.valid {
    background: #ffffff;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: 96%;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor:pointer;
}

.valid:hover {
    background: #00ADEE;
    color: #ffffff !important;
    opacity: 100 !important;
    text-decoration: none;
}
.cancel {
    background: #ffffff;
    color: #000000;
    line-height: 25px;
    position: absolute;
    left: -12px;
    text-align: center;
    top: 96%;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity:100 !important;
}
.cancel:hover {
    background: #00ADEE;
    color:#ffffff !important;
    opacity:100 !important;

}

/* Modal connexion */
.modalDialogConnexion {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialogConnexion:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialogConnexion > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

/*Modal Inscription*/
/*flip*/
.flipcard {
    perspective: 500px;
}

.flipcard.h-no-hover:hover .front, .flipcard.h.flip .front {
    transform: rotateY(180deg);
}

.flipcard.h-no-hover:hover .back, .flipcard.h.flip .back {
    transform: rotateY(0deg);
}

.flipcard.h .back {
    transform: rotateY(-180deg);
}

.flipcard .front {
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    backface-visibility: hidden;
}

.flipcard .back {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    backface-visibility: hidden;
}

/*/flip/*/
.modalDialogInscription {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    -webkit-perspective: 800;
}

.modalDialogInscription:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialogInscription > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.backButton {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 27px;
    right: 385px;
    cursor: pointer;
    top: 96%;
}

/* TextsBoxs de les pages Inscription, Connexion */
.signup-half {
    text-align: left;
    font-family: Amaranth;
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 48%;
    margin: 0px 4px 8px 2px;
}

.signup-full {
    text-align: left;
    font-family: Amaranth;
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 98.5%;
    margin: 8px 2px 8px 2px;
}

.highlightTextBox {
    border-color: red;
}

/* Spacer */
.or-spacer {
    width: 350px;
    position: relative;
}

.or-spacer .mask {
    overflow: hidden;
    height: 10px;
}

.or-spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

/* Spacer 2*/
.or-spacer2 {
    width: 550px;
    position: relative;
}

.or-spacer2 .mask {
    overflow: hidden;
    height: 10px;
}

.or-spacer2 .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

/* Avatar Inscription */
#avatar {
    width: 171px;
    height: 154px;
    display: block;
    float: left;
    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 8px 4px 9px 10px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#avatarProfil {
    width: 90%;
    height: 90%;
    display: block;
    float: left;
    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 8px 4px 9px 10px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#Photo1 {
    width: 40%;
    height: 90%;

    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#Photo2 {
    width: 40%;
    height: 90%;

    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#Photo3 {
    width: 40%;
    height: 90%;

    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#Photo4 {
    width: 40%;
    height: 90%;

    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    background: url(../images/UnknownUser.png) no-repeat center;
    background-size: contain !important;
    background-color: rgba(0, 0, 0, 0);
}

#avatarOverlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor: pointer;
    height: inherit;

}

#avatar:hover #avatarOverlay {
    opacity: 1;
    cursor: pointer;
}

#avatarProfil:hover #avatarOverlay {
    opacity: 1;
    cursor: pointer;
}

#avatarPlus {
    font-family: Amaranth;
    font-weight: 200;
    color: rgba(255, 255, 255, .85);
    font-size: 18px;
    cursor: pointer;
}

#fileExplorer {
    display: inline;
    opacity: 0;
    width: 171px;
    height: 154px;
    cursor: pointer;
}
#fileExplorer2 {
    display: inline;
    opacity: 0;
    width: 171px;
    height: 154px;
    cursor: pointer;
}

.avatarOverlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    cursor: pointer;
    height: inherit;

}

.avatar:hover .avatarOverlay {
    opacity: 1;
    cursor: pointer;
}

#avatarProfil:hover .avatarOverlay {
    opacity: 1;
    cursor: pointer;
}

.avatarPlus {
    font-family: Amaranth;
    font-weight: 200;
    color: rgba(255, 255, 255, .85);
    font-size: 18px;
    cursor: pointer;
}

.fileExplorer {
    display: inline;
    opacity: 0;
    width: 171px;
    height: 154px;
    cursor: pointer;
}

#textFileExplorer {
    top: 140px;
    left: 221px;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    width: 140px;
    height: 85px;
}
#textFileExplorer2 {
    top: 120%;
    left: 15%;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    width: 140px;
    height: 85px;
}

.loadContent {
    width: 100%;
    height: 400px;
    padding: 10px 10px 0 10px;

}

.Logobanner {
    position: absolute;
    top: 20px;
    left: 5%;
    z-index: 11;
    width: 70px;
    height: 70px;
    z-index: 1000;

}

.noti_bubble {

    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:1em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:50px;
    box-shadow:1px 2px 1px gray;
}

#NbTrok
{
    width:100%;
    height:30px;
    position:absolute;
    z-index:100;
    font-family:'Amaranth';
    margin-top:3%;
}
.NbTrok
{

    font-family:'Amaranth';
    color: white !important;
    font-size:15px;
    background-color: #002042 !important;
}


.hoja {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-size: 15px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    font-weight:bold;
}
.hoja:after,
.hoja:before {
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
.hoja:after {
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.6), inset 5px 0 0 rgba(0, 69, 95, 0.6), inset 0 -5px 0 rgba(0, 173, 238, 0.6), inset -5px 0 0 rgba(0, 173, 238, 0.6);
    -webkit-animation: rotar 2s -0.5s linear infinite;
    animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
    box-shadow: inset 0 5px 0 rgba(0, 69, 95, 0.6), inset 5px 0 0 rgba(0, 173, 238, 0.6), inset 0 -5px 0 rgba(0, 173, 238, 0.6), inset -5px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-animation: rotarIz 2s -0.5s linear infinite;
    animation: rotarIz 2s -0.5s linear infinite;
}

@-webkit-keyframes rotar {
    0% {
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
        transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
    }
    100% {
        -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}
@keyframes rotar {
    0% {
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
        transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
    }
    100% {
        -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}
@-webkit-keyframes rotarIz {
    0% {
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}
@keyframes rotarIz {
    0% {
        -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}




