<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Trok-é"/>
    <meta name="keywords" content="Trok, barter, troke, troc"/>
    <meta name="author" content="Yvon Steinthal, Alexandre Dubé, Emmanuel Beloin, Shaun Cooper"/>
    <title>
        Trok-é
    </title>

    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/mainbuttons.css" type="text/css" rel="stylesheet"/>
    <!--<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>-->
    <!-- <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>-->
    <!--<link href="bootstrap/js/bootstrap.js" type="text/javascript"/>-->
    <!--<link href="bootstrap/js/bootstrap.min.js" type="text/javascript"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'/>
    <!--<link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"/>-->
    <link rel="icon" type="image/x-icon" href="images/IconTroke.ico" />
    <!-- load animate -->
    <script src="js/jquery.mask.min.js" type="text/javascript"></script>
    <script src="js/home.js" type="text/javascript"></script>
    <script th:inline="javascript">
        //Pour la navbar dans le scroll...
        /*<![CDATA[*/
        $(document).ready(function () {

            var imagebanner = document.getElementById("Banniere");


            $(window).scroll(function () {
                //if you hard code, then use console
                //.log to determine when you want the
                //nav bar to stick.
                console.log($(window).scrollTop())
                var height = imagebanner.clientHeight;


                if ($(window).scrollTop() > imagebanner.clientHeight) {
                    $('#nav_bar').addClass('navbar-fixed');
                    $('#nav_bar').removeClass('navbar');

                    $('#cont').addClass('padbot');
                    //$('#nav_bar').css('top', 0);
                    //$('#nav_bar').toggleClass('navbar navbar-fixed');
                }


                if ($(window).scrollTop() < imagebanner.clientHeight) {

                    $('#nav_bar').removeClass('navbar-fixed');
                    $('#nav_bar').addClass('navbar');
                    //$('#nav_bar').toggleClass('navbar-fixed navbar');
                    $('#cont').removeClass('padbot');
                    //$('#nav_bar').addClass('navbar-fixed');
                }
            });
        });

        function readURL() {
            var file = document.getElementById("fileExplorer").files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById('avatar').style.backgroundImage = "url(" + reader.result + ")";
            }
            if (file) {
                reader.readAsDataURL(file);
            } else {
            }
        }
        function checkImage() {
            var x = document.getElementById('fileExplorer'); // get the file input element in your form
            var f = x.files.item(0); // get only the first file from the list of files
            var filesize = f.size;

            // Si l'image est plus petite que 10mb
            if (filesize < 10485760) {
                document.getElementById('errorDiv').innerHTML = '';
                readURL();
            }
            else {
                document.getElementById('errorDiv').innerHTML = '<span style="color:red" id="image-error">Choisissez une image de moins de 10mb</span>';
            }
        }
        function TestFileType() {
            var fileName = document.getElementById('fileExplorer').value;
            var fileTypes = /(.jpg|.jpeg|.gif|.png)$/i;
            var extensionNames = ".jpg / .jpeg / .gif / .png";
            alert(document.getElementById('fileExplorer').value);
            if (fileName != '') {
                if (fileTypes.test(fileName)) {
                    document.getElementById('errorDiv').innerHTML = '';
                    alert("chu dedans");
                    checkImage(); // Vérification de la taille de l'image

                }
                else {
                    //document.getElementById('avatar').style.backgroundImage = "/uploaded-images/no_avatar.jpg";
                    document.getElementById('errorDiv').innerHTML = '<span style="color:red" id="image-error">Doit être une image du type ' + extensionNames + ' </span>';
                }
            }
            else {
                //document.getElementById('avatar').style.backgroundImage = "/uploaded-images/no_avatar.jpg";
                document.getElementById('errorDiv').innerHTML = '<span style="color:red" id="image-error">Le nom d\'image est vide</span>';
            }
        }
        /*]]>*/
    </script>
    <th:block th:replace="this :: head"/>
</head>
<body style="background-color:#00455f;" id="goodlookin">

<!-- START Header -->
<div class="page-header" style="display:inline" id="mainBanner">
    <img src="images/WorldBanner2.jpg" class="img-responsive animated fadeIn" id="Banniere"/>
    <a th:href="@{/}"><img src="images/LogoWorld_Transparence.png" class="img-responsive animated Logo" id="Logo"/></a>
		        <span class="dd animated fadeInDown">
                    <div class="BTN_Creds">
                        <span th:if="${authUser} eq null">
                            <a href="#openModalConnexion" class="btn btn-sm animated-button thar-two">Connexion</a>
                            <a href="#openModalInscription" class="btn btn-sm animated-button thar-two">Inscription</a>
                        </span>
                        <span th:if="${authUser} ne null">
                            <a th:href="@{/logout}" th:text="'Bienvenue ' + ${authUser.firstname}"
                               class="btn btn-sm animated-button thar-two"></a>
                        </span>
                    </div>
                </span>
</div>
<!-- END Header -->

<!-- START Login -->
<div id="openModalConnexion" class="modalDialogConnexion">
    <div style="font-family:Amaranth">
        <a href="#close" title="Fermer" class="close">X</a>

        <h2 style="text-align:center">Authentification</h2>

        <div class="or-spacer">
            <div class="mask"></div>
        </div>
        <form th:action="@{/auth}" method="post" th:object="${post}">
            <div style="text-align:center">
                <input class="signup-full" type="text" placeholder="Nom d'usager" name="iduser"/>
                <input class="signup-full" type="password" placeholder="Mot de Passe" name="pass"/>
                <input style="float:left" type="checkbox" name="StayConnected" value="Stay">Rester Connecter</input>
                <a href="mailto:ysteinthal@yahoo.com?Subject=Test Trok-E" target="_top" style="float:right">Mot de
                    passe
                    oublié</a>
            </div>
            <div class="or-spacer">
                <div class="mask"></div>
            </div>
            <div> <!--style="height:100%"-->
                <p th:if="${session.error} ne null">

                <p style="color:red" th:text="${session.error}"></p></p>
            </div>
            <div>
                <!--<a style="text-align:center;font-size:16px;" title="Valider" class="valid" type="submit">Valider</a> -->
                <input type="submit" class="valid" title="Valider" style="text-align: center; font-size:16px;"/>
            </div>
        </form>
    </div>
</div>
<!-- END Login -->

<!-- START Signup -->
<form style="margin:0px" action="#" name="inscriptionForm" th:action="@{/adduser}" method="post"
      th:object="${userSignupForm}" enctype="multipart/form-data">
    <div id="openModalInscription" class="modalDialogInscription flipcard h ">
        <div class="front" style="font-family:Amaranth">
            <a href="#close" title="Close" class="close">X</a>

            <h2 style="text-align: center;">Nouvelle Inscription</h2>

            <div class="or-spacer">
                <div class="mask"></div>
            </div>
            <th:block th:if="${fields eq null}">
                <div>
                    <div style="float: left; width: 48.5%">

                        <input th:field="*{iduser}" class="signup-full" placeholder="Nom d'usager"
                               type="text"
                               tabindex="1"/>
                        <input th:field="*{firstname}" class="signup-full" name="firstname" placeholder="Prénom"
                               type="text"
                               tabindex="2"/>
                        <input th:field="*{lastname}" class="signup-full" name="lastname" placeholder="Nom de famille"
                               type="text"
                               tabindex="3"/>
                    </div>

                    <div id="avatar" src="#" alt="avatar" class="avatar">
                        <div id="avatarOverlay">
                            <div id="avatarPlus">
                                <p id="textFileExplorer">Changer votre image de profil</p>
                                <input id="fileExplorer" type="file" name="avatar" onchange="TestFileType()"
                                       value="null"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <input th:field="*{zipcode}" class="signup-half zipcode" name="zipcode" placeholder="Code postal"
                           type="text" tabindex="5"
                           style="float: right"/>
                    <input th:field="*{telephone}" class="signup-half phone_ca" name="telephone" placeholder="Téléphone"
                           type="text"
                           tabindex="4" style="float: left	"/>
                </div>
                <input th:field="*{email}" class="signup-full" name="email"
                       placeholder="Adresse électronique"
                       type="email" tabindex="6" onChange="checkEmail()"/>
                <input th:field="*{email_confirm}" class="signup-full" name="email_confirm"
                       placeholder="Confirmer votre adresse électronique" type="email" tabindex="7"
                       onChange="checkConfirmEmail()"/>
                <input th:field="*{pass}" class="signup-full" name="pass" placeholder="Mot de passe" type="password"
                       tabindex="8"/>
                <input th:field="*{pass_confirm}" class="signup-full" name="pass_confirm"
                       placeholder="Confirmer votre mot de passe"
                       type="password" tabindex="9"/>

                <div class="or-spacer" style="margin-top: 18px;">
                    <div class="mask"></div>
                </div>
            </th:block>
            <th:block th:if="${fields != null and fields.hasErrors()}">
                <div>
                    <div style="float: left; width: 48.5%">
                        <!-- START iduser -->
                        <th:block th:if="${fields.getFieldError('iduser') ne null}">
                            <input th:id="iduser" th:name="iduser"
                                   th:value="${session.userInformation.getIduser()}"
                                   class="signup-full highlightTextBox" placeholder="Nom d'usager"
                                   type="text" tabindex="1"/>
                        </th:block>
                        <th:block th:if="${fields.getFieldError('iduser') eq null}">
                            <input th:id="iduser" th:name="iduser"
                                   th:value="${session.userInformation.getIduser()}"
                                   class="signup-full" placeholder="Nom d'usager"
                                   type="text" tabindex="1"/>
                        </th:block>
                        <!-- END iduser -->

                        <!-- START firstname -->
                        <th:block th:if="${fields.getFieldError('firstname') ne null}">
                            <input th:id="firstname" th:name="firstname"
                                   th:value="${session.userInformation.getFirstname()}"
                                   class="signup-full highlightTextBox" placeholder="Prénom"
                                   type="text" tabindex="2"/>
                        </th:block>
                        <th:block th:if="${fields.getFieldError('firstname') eq null}">
                            <input th:id="firstname" th:name="firstname"
                                   th:value="${session.userInformation.getFirstname()}"
                                   class="signup-full" placeholder="Prénom"
                                   type="text" tabindex="2"/>
                        </th:block>
                        <!-- END firstname -->

                        <!-- START lastname -->
                        <th:block th:if="${fields.getFieldError('lastname') eq null}">
                            <input th:id="lastname" th:name="lastname"
                                   th:value="${session.userInformation.getLastname()}"
                                   class="signup-full" placeholder="Nom de famille"
                                   type="text" tabindex="3"/>
                        </th:block>
                        <th:block th:if="${fields.getFieldError('lastname') ne null}">
                            <input th:id="lastname" th:name="lastname"
                                   th:value="${session.userInformation.getLastname()}"
                                   class="signup-full highlightTextBox" placeholder="Nom de famille"
                                   type="text" tabindex="3"/>
                        </th:block>
                        <!-- END lastname -->

                    </div>
                    <div id="avatar" class="avatar"
                         th:style="'background-image:url(/uploaded-images/temp/' + ${session.tempimage} + ')'">
                        <div id="avatarOverlay">
                            <div id="avatarPlus">
                                <p id="textFileExplorer">Changer votre image de profil</p>
                                <input id="fileExplorer" type="file" name="avatar" onchange="TestFileType()" th:value="${avatarfile}"/>
                                <input id="path_image" name="path" th:value="${session.tempimage}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- START zipcode -->
                    <th:block th:if="${fields.getFieldError('zipcode') eq null}">
                        <input th:id="zipcode" th:name="zipcode"
                               th:value="${session.userInformation.getZipcode()}"
                               class="signup-half zipcode" placeholder="Code postal"
                               type="text" tabindex="5"
                               style="float: right"/>
                    </th:block>
                    <th:block th:if="${fields.getFieldError('zipcode') ne null}">
                        <input th:id="zipcode" th:name="zipcode"
                               th:value="${session.userInformation.getZipcode()}"
                               class="signup-half zipcode highlightTextBox" placeholder="Code postal"
                               type="text" tabindex="5"
                               style="float: right"/>
                    </th:block>
                    <!-- END zipcode -->

                    <!-- START telephone -->
                    <th:block th:if="${fields.getFieldError('telephone') eq null}">
                        <input th:id="telephone" th:name="telephone"
                               th:value="${session.userInformation.getTelephone()}"
                               class="signup-half phone_ca" placeholder="Téléphone"
                               type="text"
                               tabindex="4" style="float: left	"/>
                    </th:block>
                    <th:block th:if="${fields.getFieldError('telephone') ne null}">
                        <input th:id="telephone" th:name="telephone"
                               th:value="${session.userInformation.getTelephone()}"
                               class="signup-half phone_ca highlightTextBox" placeholder="Téléphone"
                               type="text"
                               tabindex="4" style="float: left	"/>
                    </th:block>
                    <!-- END telephone -->
                </div>
                <!-- START email -->
                <th:block th:if="${fields.getFieldError('email') eq null}">
                    <input id="email" th:name="email" th:value="${session.userInformation.getEmail()}"
                           class="signup-full"
                           placeholder="Adresse électronique"
                           type="email" tabindex="6" onChange="checkEmail()"/>
                </th:block>
                <th:block th:if="${fields.getFieldError('email') ne null}">
                    <input id="email" th:name="email" th:value="${session.userInformation.getEmail()}"
                           class="signup-full highlightTextBox" placeholder="Adresse électronique"
                           type="email" tabindex="6" onChange="checkEmail()"/>
                </th:block>
                <!-- END email -->

                <!-- START email_confirm -->
                <th:block th:if="${fields.getFieldError('email_confirm') eq null}">
                    <input id="email_confirm" th:name="email_confirm"
                           th:value="${session.userInformation.getEmail_confirm()}"
                           class="signup-full" placeholder="Confirmer votre adresse électronique" type="email"
                           tabindex="7"
                           onChange="checkConfirmEmail()"/>
                </th:block>
                <th:block th:if="${fields.getFieldError('email_confirm') ne null}">
                    <input id="email_confirm" th:name="email_confirm"
                           th:value="${session.userInformation.getEmail_confirm()}"
                           class="signup-full highlightTextBox" placeholder="Confirmer votre adresse électronique"
                           type="email" tabindex="7"
                           onChange="checkConfirmEmail()"/>
                </th:block>
                <!-- END email_confirm -->

                <!-- START pass -->
                <th:block th:if="${fields.getFieldError('pass') eq null}">
                    <input th:id="pass" th:name="pass" class="signup-full" placeholder="Mot de passe"
                           type="password"
                           tabindex="8"/>
                </th:block>
                <th:block th:if="${fields.getFieldError('pass') ne null}">
                    <input th:id="pass" th:name="pass" class="signup-full highlightTextBox"
                           placeholder="Mot de passe"
                           type="password"
                           tabindex="8"/>
                </th:block>
                <!-- END pass -->

                <!-- START pass_confirm -->
                <th:block th:if="${fields.getFieldError('pass_confirm') eq null}">
                    <input th:id="pass_confirm" th:name="pass_confirm" class="signup-full"
                           placeholder="Confirmer votre mot de passe"
                           type="password" tabindex="9"/>
                </th:block>
                <th:block th:if="${fields.getFieldError('pass_confirm') ne null}">
                    <input th:id="pass_confirm" th:name="pass_confirm" class="signup-full highlightTextBox"
                           placeholder="Confirmer votre mot de passe"
                           type="password" tabindex="9"/>
                </th:block>
                <!-- END pass_confirm -->

                <div class="or-spacer" style="margin-top: 18px;">
                    <div class="mask"></div>
                </div>
            </th:block>
            <div id="errorDiv">
                <ul th:if="${fields != null and fields.hasErrors()}">
                    <li th:each="err : ${fields.getAllErrors()}" th:text="${err.getDefaultMessage()}">Input is
                        incorrect
                    </li>
                </ul>
            </div>
            <a style="text-align:center;font-size:16px; cursor: pointer;" title="Valid" class="valid"
               onclick="Flip(); ConfirmEmail()">Valider</a>
        </div>
        <div class="back" style="height:500px;">
            <div style="font-family:Amaranth;">
                <a href="#close" title="Close" class="close">X</a>

                <h2 style="text-align: center;">Nouvelle Inscription</h2>

                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
                <h2 style="text-align: center; font-size: 20px">Un courriel de confirmation sera envoyé à votre
                    adresse électronique</h2>
                <input id="confirmEmail" class="signup-full" style="text-align:center" disabled="disabled"/>
                <a style="text-align:center; font-size:16px; cursor: pointer; margin-left: 18%" class=""
                   onclick="Flip(); HighlightEmail()">Ce n'est pas votre adresse électronique?</a>

                <h2 style="text-align: center; font-size: 20px">Êtes-vous un robot?</h2>

                <div id="zoneCaptcha" style="margin:auto">
                    <div id="captchaQuestion" style="margin:auto; padding-left: 23%; width: 100%;">
                        <input id="num1" style="text-align:center; font-size:20px; width:25%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                        <input id="sym" style="text-align:center; font-size:20px; width:20%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                        <input id="num2" style="text-align:center; font-size:20px; width:25%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                    </div>
                    <input id="captcha" class="signup-full" style="text-align:center; font-size:20px; padding:20px;"
                           placeholder="Entrer le résultat du captcha ci-haut"/>
                </div>
                <a style="text-align:center;font-size:16px;font-weight: 600; width: 120px;" title="Valider"
                   class="valid" onclick="checkCaptcha();">Finir l'inscription</a>
                <a class="backButton valid" onclick="Flip()"> &lt; </a>
            </div>
        </div>
    </div>
</form>
<!-- END Signup -->

<!-- START Navbar -->
<nav id="nav_bar" class="navbar navbar-default" style="font-family:'Amaranth'; z-index: 9999; font-size:20px">
    <img id="menu-logo" class="menuLogoHide" src="images/Logo-transparent.png" onclick="Refresh()"/>
    <!-- div container -->
    <div class="container">
        <!-- div navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar" onclick="Choix()">
                <span class="sr-only">Toggle navigation</span>
            </button>

            <!--<a class="navbar-brand" href="#" onclick="Refresh()" style="color:#00ADEE">Trok-é</a> -->
        </div>
        <!-- end div navbar-header -->
        <!-- navbar -->
        <div id="navbar" class="navbar-collapse collapse pull-left">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                       style="color:black; font-size:15px">
                        Catégories<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="cat : ${session.categoryList}">
                            <a th:text="${cat}"
                               th:href="${session.addressCatName} + ${cat} + ${session.addressChecked}"></a>
                        </li>
                    </ul>
                    <!-- end dropdown-menu -->
                </li>
                <!-- end dropdown -->
                <li><!-- Search bar + button -->
                    <form th:action="@{/searchDB}" method="get" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Item ou Service"
                                   size="45"/>
                        </div>
                        <button type="submit" class="btn btn-default">Recherche</button>
                    </form>
                </li>
                <!-- end Search bar + button -->
                <li><a href="/myTrades" style="color:black; font-size:15px">Mes Échanges</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
                <li class="pull-right"><a href="/profil" style="color:black;font-size:15px">Mon profil</a></li>
            </ul>
            <!-- nav navbar-nav -->
        </div>
        <!-- end navbar -->
    </div>
    <!-- end div container -->
</nav>
<!-- END Navbar -->

<!-- START Contenu -->
<div th:include="this :: content" id="cont"/>
<!-- END Contenu -->

<!-- START Spacer -->
<div class="footerSpacer"/>
<!-- END Spacer -->

<!-- START Footer -->
<footer class="footer">
    <div class="basdepage">
        <!-- <p style="text-align:center;font-size:12px;">&copy; <a href="#about">Trok-é</a> - Création <a href="mailto:YSTEINTHAL@GMAIL.COM">Yvon Steinthal</a> / <a href="mailto:BUBA_DUDE_16@HOTMAIL.COM">Alexandre Dubé</a> / <a href="mailto:ebeloin@hotmail.com">Emmanuel Beloin</a> / <a href="mailto:SHAUN.11.COOPER@GMAIL.COM">Shaun Cooper</a></p> -->
        <p style="text-align:center;font-size:12px;">Copyright © Trok-é 2015 | <a th:href="@{/about}">À propos</a> | <a
                th:href="@{/}">Équipe Trok-é</a></p>
    </div>
</footer>
<!-- END Footer -->

</body>
</html>