<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Trok-é"/>
    <meta name="keywords" content="Trok, barter, troke, troc"/>
    <meta name="author" content="Yvon Steinthal, Alexandre Dubé, Emmanuel Beloin, Shaun Cooper"/>
    <title>
        Trok-é
    </title>

    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/mainbuttons.css" type="text/css" rel="stylesheet"/>
    <!--<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>-->
   <!-- <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>-->
    <!--<link href="bootstrap/js/bootstrap.js" type="text/javascript"/>-->
    <!--<link href="bootstrap/js/bootstrap.min.js" type="text/javascript"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'/>
    <!--<link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"/>-->

    <!-- load animate -->
    <script src="js/jquery.mask.min.js" type="text/javascript"></script>
    <script src="js/home.js" type="text/javascript"></script>
    <th:block th:replace="this :: head"/>
</head>
<body style="background-color:#00455f;" id="goodlookin">

<!-- START Header -->
<div class="page-header" style="display:inline" id="mainBanner">
    <img src="images/Gradient2.png" class="img-responsive animated fadeIn" id="Banniere"/>
    <a th:href="@{/}"><img src="images/Logo2.png" class="img-responsive animated fadeIn Logo" id="Logo"/></a>
		        <span class="dd animated fadeInDown">
                    <div class="BTN_Creds">
                        <span th:if="${authUser} eq null">
                            <a href="#openModalConnexion" class="btn btn-sm animated-button thar-two">Connexion</a>
                            <a href="#openModalInscription" class="btn btn-sm animated-button thar-two">Inscription</a>
                        </span>
                        <span th:if="${authUser} ne null">
                            <a th:href="@{/logout}" th:text="'Bienvenue ' + ${authUser.firstname}"
                               class="btn btn-sm animated-button thar-two"></a>
                        </span>
                    </div>
                </span>
</div>
<!-- END Header -->

<!-- START Login -->
<div id="openModalConnexion" class="modalDialogConnexion">
    <div style="font-family:Amaranth">
        <a href="#close" title="Fermer" class="close">X</a>

        <h2 style="text-align:center">Authentification</h2>

        <div class="or-spacer">
            <div class="mask"></div>
        </div>
        <form th:action="@{/auth}" method="post" th:object="${post}">
            <div style="text-align:center">
                <input class="signup-full" type="text" placeholder="Nom d'usager" name="iduser"/>
                <input class="signup-full" type="password" placeholder="Mot de Passe" name="pass"/>
                <input style="float:left" type="checkbox" name="StayConnected" value="Stay">Rester Connecter</input>
                <a href="mailto:ysteinthal@yahoo.com?Subject=Test Trok-E" target="_top" style="float:right">Mot de
                    passe
                    oublié</a>
            </div>
            <div class="or-spacer">
                <div class="mask"></div>
            </div>
            <div> <!--style="height:100%"-->
                <p th:if="${session.error} ne null">

                <p style="color:red" th:text="${session.error}"></p></p>
            </div>
            <div>
                <!--<a style="text-align:center;font-size:16px;" title="Valider" class="valid" type="submit">Valider</a> -->
                <input type="submit" class="valid" title="Valider" style="text-align: center; font-size:16px;"/>
            </div>
        </form>
    </div>
</div>
<!-- END Login -->

<!-- START Signup -->
<form style="margin:0px" action="#" name="inscriptionForm" th:action="@{/adduser}" method="post" th:object="${user}">
    <div id="openModalInscription" class="modalDialogInscription flipcard h ">
        <div class="front" style="font-family:Amaranth">
            <a href="#close" title="Close" class="close">X</a>

            <h2 style="text-align: center;">Nouvelle Inscription</h2>

            <div class="or-spacer">
                <div class="mask"></div>
            </div>
            <div>
                    <div style="float: left; width: 48.5%">
                    <input th:field="*{iduser}" class="signup-full" name="iduser" placeholder="Nom d'usager" type="text" tabindex="1"/>
                    <input th:field="*{firstname}" class="signup-full" name="firstname" placeholder="Prénom" type="text" tabindex="2"/>
                    <input th:field="*{lastname}" class="signup-full" name="lastname" placeholder="Nom de famille" type="text"
                           tabindex="3"/>
                </div>
                <div id="avatar" src="#" alt="avatar" class="avatar">
                    <div id="avatarOverlay">
                        <div id="avatarPlus">
                            <p id="textFileExplorer">Changer votre image de profil</p>
                            <input id="fileExplorer" type="file" onchange="PreviewImage(this.value);"/>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input th:field="*{zipcode}" class="signup-half zipcode" name="zipcode" placeholder="Code postal" type="text" tabindex="1"
                       style="float: right"/>
                <input th:field="*{telephone}" class="signup-half phone_ca" name="telephone" placeholder="Téléphone" type="text"
                       tabindex="1" style="float: left	"/>
            </div>
            <input th:field="*{email}" class="signup-full" id="signup-email" name="email" placeholder="Adresse électronique"
                   type="email" tabindex="3" onChange="checkEmail()"/>
            <input class="signup-full" id="signup-confirmEmail" name="email_confirm"
                   placeholder="Confirmer votre adresse électronique" type="email" tabindex="4"
                   onChange="checkConfirmEmail()"/>
            <input th:field="*{pass}" class="signup-full" name="pass" placeholder="Mot de passe" type="password" tabindex="5"/>
            <input class="signup-full" name="pass_confirm" placeholder="Confirmer votre mot de passe"
                   type="password" tabindex="5"/>
            <div class="or-spacer" style="margin-top: 18px;">
                <div class="mask"></div>
            </div>
            <div>
                <ul th:if="${fields != null and fields.hasErrors()}"> <li th:each="err : ${fields.getAllErrors()}" th:text="${err}">Input is incorrect</li></ul>
            </div>
            <a style="text-align:center;font-size:16px; cursor: pointer;" title="Valid" class="valid"
               onclick="Flip(); ConfirmEmail()">Valider</a>
        </div>
        <div class="back" style="height:500px;">
            <div style="font-family:Amaranth;">
                <a href="#close" title="Close" class="close">X</a>

                <h2 style="text-align: center;">Nouvelle Inscription</h2>

                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
                <h2 style="text-align: center; font-size: 20px">Un courriel de confirmation sera envoyé à votre
                    adresse électronique</h2>
                <input id="confirmEmail" class="signup-full" style="text-align:center" disabled="disabled"/>
                <a style="text-align:center; font-size:16px; cursor: pointer; margin-left: 18%" class=""
                   onclick="Flip(); HighlightEmail()">Ce n'est pas votre adresse électronique?</a>

                <h2 style="text-align: center; font-size: 20px">Êtes-vous un robot?</h2>

                <div id="zoneCaptcha" style="margin:auto">
                    <div id="captchaQuestion" style="margin:auto; padding-left: 23%; width: 100%;">
                        <input id="num1" style="text-align:center; font-size:20px; width:25%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                        <input id="sym" style="text-align:center; font-size:20px; width:20%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                        <input id="num2" style="text-align:center; font-size:20px; width:25%; padding:20px;"
                               placeholder="" disabled="disabled"/>
                    </div>
                    <input id="captcha" class="signup-full" style="text-align:center; font-size:20px; padding:20px;"
                           placeholder="Entrer le résultat du captcha ci-haut"/>
                </div>
                <a style="text-align:center;font-size:16px;font-weight: 600; width: 120px;" title="Valider"
                   class="valid" onclick="checkCaptcha();">Finir l'inscription</a>
                <a class="backButton valid" onclick="Flip()"> &lt; </a>
            </div>
        </div>
    </div>
</form>
<!-- END Signup -->

<!-- START Navbar -->
<nav class="navbar navbar-inverse animated fadeIn" style="font-family:'Amaranth'; z-index: 9999; font-size:20px"
     id="menubar">
    <img id="menu-logo" class="menuLogoHide" src="images/Logo-transparent.png" onclick="Refresh()"/>
    <!-- div container -->
    <div class="container">
        <!-- div navbar-header -->
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar" onclick="Choix()">
                <span class="sr-only">Toggle navigation</span>
            </button>

            <!--<a class="navbar-brand" href="#" onclick="Refresh()" style="color:#00ADEE">Trok-é</a> -->
        </div>
        <!-- end div navbar-header -->
        <!-- navbar -->
        <div id="navbar" class="navbar-collapse collapse pull-left">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Catégories<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="cat : ${session.categoryList}">
                            <a th:text="${cat}"
                               th:href="${session.addressCatName} + ${cat} + ${session.addressChecked}"></a>
                        </li>
                    </ul>
                    <!-- end dropdown-menu -->
                </li>
                <!-- end dropdown -->
                <li><!-- Search bar + button -->
                    <form th:action="@{/searchDB}" method="get" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search"
                                   size="45"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </li>
                <!-- end Search bar + button -->
                <li><a onclick="openMesEchanges()" href="#mesEchanges">Mes Échanges</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
                <li class="pull-right"><a href="/profil">Mon profil</a></li>
            </ul>
            <!-- nav navbar-nav -->
        </div>
        <!-- end navbar -->
    </div>
    <!-- end div container -->
</nav>
<!-- END Navbar -->

<!-- START Contenu -->
<div th:include="this :: content"/>
<!-- END Contenu -->

<!-- START Spacer -->
<div class="footerSpacer"/>
<!-- END Spacer -->

<!-- START Footer -->
<footer class="footer">
    <div class="basdepage">
        <!-- <p style="text-align:center;font-size:12px;">&copy; <a href="#about">Trok-é</a> - Création <a href="mailto:YSTEINTHAL@GMAIL.COM">Yvon Steinthal</a> / <a href="mailto:BUBA_DUDE_16@HOTMAIL.COM">Alexandre Dubé</a> / <a href="mailto:ebeloin@hotmail.com">Emmanuel Beloin</a> / <a href="mailto:SHAUN.11.COOPER@GMAIL.COM">Shaun Cooper</a></p> -->
        <p style="text-align:center;font-size:12px;">Copyright © Trok-é 2015 | <a th:href="@{/about}">À propos</a> | <a
                th:href="@{/}">Équipe Trok-é</a></p>
    </div>
</footer>
<!-- END Footer -->

</body>
</html>