<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head lang="en">
            <meta charset="UTF-8"/>
            <title>
                Trok-é
            </title>
        </head>
        <body>
            <!-- Header -->
                <div th:replace="fragments/home/header :: header"></div>
            <!-- frag connexion -->
                <div th:replace="fragments/home/connexion :: connexion"></div>
                <div th:replace="fragments/home/inscription :: inscription"></div>

            <!-- NavBar -->
                <div th:replace="fragments/home/navbar :: navbar "></div>

            <!-- Contenu -->
            <div th:id="home_content" th:replace="fragments/profil/openModalAjouter :: openModalAjouter"></div>
            <div th:id="home_content" th:replace="fragments/profil/openModalPassword :: openModalPassword"></div>
            <div th:id="home_content" th:replace="fragments/profil/profilContent :: profilContent"></div>

            <!-- Footer -->
            <div th:replace="fragments/home/footer :: footer"></div>
        </body>
    </html>