<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:if="${currentpage.equals('home')}">
    <head>
        <th:block th:replace="fragments/head/template_head :: template_head"/>
        <th:block th:replace="fragments/head/home_head :: home_head"/>
    </head>
</th:block>
<th:block th:if="${currentpage.equals('search')}">
    <head>
        <th:block th:replace="fragments/head/template_head :: template_head"/>
        <th:block th:replace="fragments/head/search_head :: search_head"/>
    </head>
</th:block>


<!--<th:block th:if="${currentpage == 'myexchanges'}" th:replace="fragments/head/myexchanges_head :: myexchanges_head"/>-->
<!--
<link href="css/demarerTrok.css" type="text/css" rel="stylesheet"/>
<link href="css/style_myExchanges.css" type="text/css" rel="stylesheet"/>
<link href="css/style_troker.css" type="text/css" rel="stylesheet"/>
-->
<body style="background-color:#060706;" id="goodlookin">

<!-- Header -->
<div th:replace="fragments/home/header :: header"></div>
<!-- frag connexion -->
<div th:replace="fragments/home/connexion :: connexion"></div>
<div th:replace="fragments/home/signup :: signup"></div>

<!-- NavBar -->
<div th:replace="fragments/home/navbar :: navbar "></div>

<!-- Contenu -->

<th:block th:if="${currentpage.equals('home')}">
    <div th:replace="fragments/home/home :: home"/>
    <!--<div th:replace="fragments/home/test1 :: test1"></div>-->
</th:block>
<!--<th:block th:if="${objectList} != null">
    <div th:replace="fragments/home/test2 :: test2"></div>
</th:block>-->
<th:block th:if="${currentpage.equals('search')}">
    <div th:replace="fragments/home/search :: search"></div>
</th:block>

<!-- Footer -->
<div class="footerSpacer"/>
<footer class="footer" th:replace="fragments/home/footer :: footer"/>

</body>
</html>