<html>
<head>
<link href="css/style_myExchanges.css" type="text/css" rel="stylesheet">
<link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="bootstrap/js/bootstrap.js" type="text/javascript" rel="stylesheet">
<link href="bootstrap/js/bootstrap.min.js" type="text/javascript" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">
function openTrok(){
	document.getElementById("myTrades").innerHTML='<object class="loadContent" type="text/html" data="troker.html"></object>';
}
</script>
</head>
<div id="myExchanges" class="col-lg-12 container">
	<div class="titre-Trades">
		<p>Échanges en attente</p>
	</div>
	<div id="pendingTrades" class="section-Trades">
		<ul id="myTrades">
			<li class="exchange" onClick="openTrok()"><header>Echange</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange2</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange3</header></li>
		</ul>
	</div>
	<div class="titre-Trades">
		<p>Échanges envoyés</p>
	</div>
	<div id="sentTrades" class="section-Trades">
		<ul id="myTrades">
			<li class="exchange" onClick="openTrok()"><header>Echange</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange2</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange3</header></li>
		</ul>
	</div>
	<div class="titre-Trades">
		<p>Échanges complétés</p>
	</div>
	<div id="completedTrades" class="section-Trades">
		<ul id="myTrades">
			<li class="exchange" onClick="openTrok()"><header>Echange</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange2</header></li>
			<li class="exchange" onClick="openTrok()"><header>Echange3</header></li>
		</ul>
	</div>
</div>
</html>
