<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head th:fragment="head">
<link href="css/style_myTrades.css" type="text/css" rel="stylesheet"/>
</head>
<th:block th:fragment="content">
	<div id="myExchanges" class="col-lg-12 container">
		<div class="titre-Trades">
			<p th:text="'Échanges en attente :'+ ${pendingTransactions.size()}"></p>
		</div>
		<div id="pendingTrades" class="section-Trades">
			<ul class="myTrades">
				<li th:each="trade : ${pendingTransactions}" class="exchange" onClick="">
					<a th:href="${adrOpenTrade}+${trade.getIdtransaction()}">
						<header th:text="'ID: '+${trade.getIdtransaction()}"></header>
						<span class="descriptionTrade-myTrades" th:text="'Échange entre '+${trade.iduser1}+ ' et '+${trade.iduser2}"/>
						<span class="descriptionTrade-myTrades" th:text="'Date créée: '+${trade.getDatetransaction()}"/>
					</a>
				</li>
			</ul>
		</div>
		<div class="titre-Trades">
			<p th:text="'Échanges envoyés :'+ ${sentTransactions.size()}"></p>
		</div>
		<div id="sentTrades" class="section-Trades">
			<ul class="myTrades">
				<li th:each="trade : ${sentTransactions}" class="exchange" onClick="">
					<header th:text="'ID: '+${trade.getIdtransaction()}"></header>
					<span class="descriptionTrade-myTrades" th:text="'Échange entre '+${trade.iduser1}+ ' et '+${trade.iduser2}"/>
					<span class="descriptionTrade-myTrades" th:text="'Date créée: '+${trade.getDatetransaction()}"/>
				</li>
			</ul>
		</div>
		<div class="titre-Trades">
			<p th:text="'Échanges complétés :'+ ${completedTransactions.size()}"></p>
		</div>
		<div id="completedTrades" class="section-Trades">
			<ul class="myTrades">
				<li th:each="trade : ${completedTransactions}" class="exchange" onClick="">
					<header th:text="'ID: '+${trade.getIdtransaction()}"></header>
					<span class="descriptionTrade-myTrades" th:text="'Échange entre '+${trade.iduser1}+ ' et '+${trade.iduser2}"/>
					<span class="descriptionTrade-myTrades" th:text="'Date créée: '+${trade.getDatetransaction()}"/>
				</li>
			</ul>
		</div>
	</div>
</th:block>
</html>
