<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head th:fragment="head">
<link href="css/style_myTrades.css" type="text/css" rel="stylesheet"/>
</head>
<th:block th:fragment="content">
	<div id="myExchanges" class="col-lg-12 container">
		<div class="titre-Trades">
			<p>Échanges en attente</p>
		</div>
		<div id="pendingTrades" class="section-Trades">
			<ul class="myTrades">
				<li class="exchange" onClick=""><header>Echange</header></li>
				<li class="exchange" onClick=""><header>Echange2</header></li>
				<li class="exchange" onClick=""><header>Echange3</header></li>
			</ul>
		</div>
		<div class="titre-Trades">
			<p>Échanges envoyés</p>
		</div>
		<div id="sentTrades" class="section-Trades">
			<ul class="myTrades">
				<li class="exchange" onClick=""><header>Echange</header></li>
				<li class="exchange" onClick=""><header>Echange2</header></li>
				<li class="exchange" onClick=""><header>Echange3</header></li>
			</ul>
		</div>
		<div class="titre-Trades">
			<p>Échanges complétés</p>
		</div>
		<div id="completedTrades" class="section-Trades">
			<ul class="myTrades">
				<li class="exchange" onClick=""><header>Echange</header></li>
				<li class="exchange" onClick=""><header>Echange2</header></li>
				<li class="exchange" onClick=""><header>Echange3</header></li>
			</ul>
		</div>
	</div>
</th:block>
</html>
