<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<!-- div  fragment -->
<div th:fragment="navbar" style="z-index: 35003">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse animated fadeIn" style="font-family:'Amaranth'; z-index: 9999; font-size:20px" id="menubar">

        <img id="menu-logo" class="menuLogoHide" src="images/Logo-transparent.png" onclick="Refresh()"/>

        <!-- div container -->
        <div class="container">

            <!-- div navbar-header -->
            <div class="navbar-header navbar-left">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar" onclick="Choix()">

                    <span class="sr-only">Toggle navigation</span>
                    <!--
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    -->
                </button>

                <!--<a class="navbar-brand" href="#" onclick="Refresh()" style="color:#00ADEE">Trok-é</a> -->
            </div>
            <!-- end div navbar-header -->

            <!-- navbar -->
            <div id="navbar" class="navbar-collapse collapse pull-left">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Catégories<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li th:each="cat : ${categoryList}">
                                <a th:text="${cat}"  th:href="${address} + ${cat}"></a>
                            </li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <!-- end dropdown -->

                    <li><!-- Search bar + button -->
                        <form th:action="@{/searchDB}" method="get" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search" size="45"/>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
                    <!-- end Search bar + button -->

                    <li><a onclick="openMesEchanges()" href="#mesEchanges">Mes Échanges</a></li>
                    <!-- <li><a href="#contact">Contact</a></li> -->
                    <li class="pull-right"><a href="/login">Mon profil</a></li>
                </ul>
                <!-- nav navbar-nav -->
            </div>
            <!-- end navbar -->
        </div>
        <!-- end div container -->
    </nav>
    <!-- end nav -->
</div>
<!-- end fragment -->
</body>
</html>