<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Demo scripts -->
    <link href="css/mainbuttons.css" type="text/css" rel="stylesheet"/>
    <link href="css/style_monProfil.css" type="text/css" rel="stylesheet"/>
    <link href="css/style_funradio.css" type="text/css" rel="stylesheet"/>
    <link href="css/demo.css" type="text/css" rel="stylesheet"/>
    <link href="css/animate.min.css" type="text/css" rel="stylesheet"/>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Demo scripts -->
    <script src="js/demo.js"></script>
</head>
 <body>
    <div th:fragment="content">
            <!-- Contenu -->
            <div th:id="home_content" th:replace="fragments/profil/openModalAjouter :: openModalAjouter"></div>
            <div th:id="home_content" th:replace="fragments/profil/openModalPassword :: openModalPassword"></div>
            <div th:id="home_content" th:replace="fragments/profil/profilContent :: profilContent"></div>
    </div>
 </body>
</html>