<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head th:fragment="head">
    <link href="css/style_trade.css" type="text/css" rel="stylesheet"/>
    <!--TODO mettre les bootstraps local included dans template-->
    <!--  A mettre dans le template !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
     <link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
     <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
     <link href="bootstrap/js/bootstrap.js" type="text/javascript" rel="stylesheet">
     <link href="bootstrap/js/bootstrap.min.js" type="text/javascript" rel="stylesheet">-->
    <!--FIXME probem d'animation fade out à cause du fichier animate de template-->
    <link href="jquery-ui-1.11.4/jquery-ui.css" type="text/javascript" rel="stylesheet"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="js/startTrade.js" type="text/javascript"></script>
</head>
<body style="font-family:'Amaranth'; background:#00455F;">
<th:block th:fragment="content">
    <form id="startTradeForm" style="margin:0px" name="startTradeForm" th:action="@{/addTrade}" method="post">
    <!-- Le User qui créer le trade est le user1 -->
    <input th:value="${userActif.getIduser()}" name="iduser1" type="hidden" style="position:absolute" />
    <input th:value="${startTradeOpponent.getIduser()}" name="iduser2" type="hidden" style="position:absolute" />
    <input id="tradeObjectsID" type="hidden" style="position:absolute" name="tradeObjects"/>
    <input id="newTradeMoneyValue" type="hidden" style="position:absolute" name="newTradeMoneyValue"/>
    <!-- Div container est une class boottrap qui met la page centré -->
    <div class="container tradePage" id="mainDiv">
        <!-- Page qui conteint tous le modules d'échanges' -->
        <div id="pageTroker" class="ui-widget ui-helper-clearfix col-md-12" data-mcs-theme="3d-thick">
            <!-- Div contenant les modules de zone d'échange et le chat (milieu de la page) -->
            <div id="exchangeZone" class="col-md-6">
                <h4 th:text="'Zone d\'échange avec ' + ${startTradeOpponent.getIduser()}"
                    class="exchangeZoneHeader ui-widget-header"></h4>
                <div id="opponentExchangeItemsStart">
                    <ul class="OpponentInventory ui-helper-reset">
                        <li name="Trade-Items" class="OpponentItem ui-widget-content ui-corner-tr ui-draggable TradeItems"
                            style="display: list-item; overflow: hidden; width: 80px; height: 80px;">
                            <h5 th:text="${currentItem.getNameObject()}" class="ui-widget-header"></h5>
                            <img class="item-image" th:src="*{currentItem.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${currentItem.getGuid()}:'images/LogoWorld_Transparence.png'" alt=""
                                 style="display: inline-block; overflow: hidden; width: 80px; height: 60px; max-width: 80px; max-height: 60px;"/>

                            <div class="optionsItem">
                                <div class="btn-zoom">
                                    <img src="images/zoom_icon.png" class="icon-zoom"/>

                                    <div class="follower">
                                        <a class="js-open-modal link-zoom info-icon " href="#"
                                           data-modal-id="modal-InfoItem"
                                           th:onclick="'javascript:showModalInfoItem(\''+ ${currentItem.getIdobject()} +'\')'">Info
                                            Item</a>
                                    </div>
                                </div>
                            </div>
                            <img src="images/recycle_icon.png" class="icon-refresh"/>
                            <input type="hidden" th:value="${currentItemID}" class="itemID"/>
                        </li>
                    </ul>
                </div>
        <span class="dd animated fadeInDown">
              <a id="btn-send-trade" style="float:left;" class="btn-offre btn btn-sm animated-button thar-two" onclick="makeIDList()">Envoyer l'offre!</a>
              <a style="float:right;" class="btn-offre btn btn-sm animated-button thar-two" onclick="goBack()">Annuler
                  l'offre</a>
        </span>

                <div id="zoneChat" class="row-md-3">
                    <textarea name="chatLog" id="chatBoxStartExchange"></textarea>
                    <input id="chatEnter" type="text"/>
                    <input id="btn-enter" type="button" value="Envoyer"
                           th:onclick="'javascript:sendChat(\''+${userActif.getIduser()}+'\')'"/>
                </div>
            </div>
            <!-- Liste qui crée une zone inventaire (Opposant) et contient les items-->
            <ul id="OpponentInventory" class="OpponentInventory OpponentInventoryStartTrade ui-helper-reset ui-helper-clearfix col-md-6">
                <h5 th:text="'Inventaire à ' + ${startTradeOpponent.getIduser()}" class="OpponentInventory-header"></h5>
                <li th:each="inv : ${inventory}" class="OpponentItem ui-widget-content ui-corner-tr">
                    <h5 th:text="${inv.getNameObject()}" class="ui-widget-header"></h5>
                    <img class="item-image" th:src="*{inv.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${inv.getGuid()}:'images/LogoWorld_Transparence.png'" alt=""/>

                    <div class="optionsItem">
                        <div class="btn-zoom">
                            <img src="images/zoom_icon.png" class="icon-zoom"/>
                            <div class="follower">
                                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem"
                                   th:onclick="'javascript:showModalInfoItem(\''+ ${inv.getIdobject()} +'\')'">Info Item</a>
                            </div>
                        </div>
                        <img src="images/add-button-icon.png" class="info-icon icon-exchange"/>
                    </div>
                    <input type="hidden" th:value="${inv.getIdobject()}" class=""/>
                </li>
                <!-- Item Argent -->
                <li class="money OpponentItem ui-widget-content ui-corner-tr">
                    <h5 class="ui-widget-header">Argent</h5>
                    <img class="item-image" src="images/item-dollar-sign.png" alt=""/>

                    <div class="optionsItem">
                        <div class="btn-zoom">
                        </div>
                        <img src="images/add-button-icon.png" class="info-icon icon-exchange"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Modal ObjectInfo -->
        <!-- Modal Inventaire -->
    <th:block th:each="inv : ${inventory}">
        <div th:id="'modal-InfoItem'+${inv.getIdobject()}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
            <div>
                <a href="#" title="Fermer" class="js-modal-close close">X</a>
                <h2 th:text="${inv.getNameObject()}" style="text-align:center"></h2>
                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
                <div class="gallery">
                    <div class="panel">
                        <img th:id="'mainImage'+${inv.getIdobject()}" class="mainImage" th:src="*{inv.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${inv.getGuid()}:'images/LogoWorld_Transparence.png'"/>
                    </div>
                    <div th:id="'divSubImages'+${inv.getIdobject()}" class="divSubImages">
                        <img class="subImage" th:src="*{inv.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${inv.getGuid()}:'images/LogoWorld_Transparence.png'" alt="Image 1" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
                    </div>
                </div>
                <div class="description">
                    <h5 th:text="'Propriétaire: ' + ${inv.getIduser()}"></h5>
                    <h5 th:text="'Date de création: ' + ${inv.getCreationdate()}"></h5>
                    <span th:text="${inv.getDescObject()}"></span>
                    <h5 th:text="'Adresse Couriel'+ ${startTradeOpponent.getEmail()}" ></h5>
                </div>
                <br/>
                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
            </div>
        </div>
    </th:block>
        <!-- modal current item -->
        <div th:id="'modal-InfoItem'+${currentItemID}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
            <div>
                <a href="#" title="Fermer" class="js-modal-close close">X</a>
                <h2 th:text="${currentItem.getNameObject()}" style="text-align:center"></h2>
                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
                <div class="gallery">
                    <div class="panel">
                        <img th:id="'mainImage'+${currentItem.getIdobject()}" class="mainImage" th:src="*{currentItem.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${currentItem.getGuid()}:'images/LogoWorld_Transparence.png'"/>
                    </div>
                    <div th:id="'divSubImages'+${currentItem.getIdobject()}" class="divSubImages">
                        <img class="subImage" th:src="*{currentItem.getGuid() ne '/uploaded-images/no_avatar.png'}?'/uploaded-images/' +${currentItem.getGuid()}:'images/LogoWorld_Transparence.png'" alt="Image 1" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
                        <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
                    </div>
                </div>
                <div class="description">
                    <h5 th:text="'Propriétaire: ' + ${currentItem.getIduser()}"></h5>
                    <h5 th:text="'Date de création: ' + ${currentItem.getCreationdate()}"></h5>
                    <span th:text="${currentItem.getDescObject()}"></span>
                    <h5 th:text="'Adresse Couriel'+ ${startTradeOpponent.getEmail()}" ></h5>
                </div>
                <br/>
                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>