<button type="button" class="btn btn-info btnBootPerso" data-toggle="collapse" data-target="#sportCategory"
        onclick="checkCB('sport')">
    <input id="sport" class="mainCategory" style="float:left;" type="checkbox">SPORT</input>
    <select style="float:right;" class="disappear" disabled="disabled"></select>
</button>
<div id="sportCategory" class="category-Selection collapse">
    <ul>
        <li><input class="sport" type="checkbox">HOCKEY</input></li>
    </ul></div>
<button type="button" class="btn btn-info btnBootPerso" data-toggle="collapse" data-target="#electroniqueCategory"
        onclick="checkCB('electronique')">
    <input id="electronique" class="mainCategory" style="float:left;" type="checkbox">ELECTRONIQUE</input>
    <select style="float:right;" class="disappear" disabled="disabled"></select>
</button>
<div id="electroniqueCategory" class="category-Selection collapse">
    <ul>
        <li><input class="electronique" type="checkbox">AUDIO</input></li>
    </ul></div>
<button type="button" class="btn btn-info btnBootPerso" data-toggle="collapse" data-target="#materiel_informatiqueCategory"
        onclick="checkCB('materiel_informatique')">
    <input id="materiel_informatique" class="mainCategory" style="float:left;" type="checkbox">MATERIEL_INFORMATIQUE</input>
    <select style="float:right;" class="disappear" disabled="disabled"></select>
</button>
<div id="materiel_informatiqueCategory" class="category-Selection collapse">
    <ul>
        <li><input class="materiel_informatique" type="checkbox">LAPTOP</input></li>
    </ul></div>
<button type="button" class="btn btn-info btnBootPerso" data-toggle="collapse" data-target="#voitureCategory"
        onclick="checkCB('voiture')">
    <input id="voiture" class="mainCategory" style="float:left;" type="checkbox">VOITURE</input>
    <select style="float:right;" class="disappear" disabled="disabled"></select>
</button>
<div id="voitureCategory" class="category-Selection collapse">
    <ul>
        <li><input class="voiture" type="checkbox">porsche</input></li>
        <li><input class="voiture" type="checkbox">chevrolet</input></li>
    </ul></div>




<button type="button" class="btn btn-info btnBootPerso" data-toggle="collapse" data-target="#animauxCategory"
        onclick="checkCB('animaux')">
    <input id="animaux" class="mainCategory" style="float:left;" type="checkbox">ANIMAUX</input>
    <select style="float:right;" class="disappear" disabled="disabled"></select>
</button>
<div id="animauxCategory" class="category-Selection collapse">
    <ul>
        <li><input class="animaux" type="checkbox">CHATS</input></li>
        <li><input class="animaux" type="checkbox">CHIENS</input></li>
    </ul></div>
