<html xmlns:th="http://java.sun.com/xml/ns/j2ee">
<head xmlns:th="http://www.thymeleaf.org">

</head>
<body>
<th:block th:fragment="test2">
    <div th:each="obj : ${objectList}" style="display: inline-block; background-color: #22c8ff; margin: 1%"
         width="100%">
        <h2 th:id="objectName" th:text="${obj.getNameObject()}"></h2>

        <h3 th:id="objectDesc" th:text="${obj.getDescObject()}"></h3>
        <ul>
            <li type="disc" th:id="value" th:text="'Valeur: ' + ${obj.getValueObject()}"></li>
            <li type="disc" th:id="quality" th:text="'Qualité: ' + ${obj.getQuality()}"></li>
            <li type="disc" th:id="seller" th:text="'Vendeur: ' + ${obj.getIduser()}"></li>
            <li type="disc" th:id="date" th:text="'Date de parution: ' + ${obj.getCreationdate()}"></li>
        </ul>
    </div>
    <th:block th:if="${objectList.size() == 0}">
        <h2>Pas de résultat</h2>
    </th:block>
</th:block>
</body>
</html>




