<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head th:fragment="head">
  <link href="css/style_trade.css" type="text/css" rel="stylesheet"/>
  <link href="css/mainbuttons.css" type="text/css" rel="stylesheet"/>
  <link href="jquery-ui-1.11.4/jquery-ui.css" type="text/javascript" rel="stylesheet"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  <script src="js/trade.js" type="text/javascript"></script>
</head>

<body style="font-family:'Amaranth'; background:#00455F;">
<th:block th:fragment="content">
  <!-- Div container est une class boottrap qui met la page centré -->
  <div class="container">
    <!-- Page qui conteint tous le modules d'échanges' -->
    <div id="pageTroker" class="ui-widget ui-helper-clearfix col-md-12" data-mcs-theme="3d-thick">
      <!-- Liste qui crée une zone inventaire (User) et contient les items-->
      <ul id="UserInventory" class="UserInventory ui-helper-reset ui-helper-clearfix col-md-3">
        <h5 class="UserInventory-header">UserInventory</h5>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon" href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <!-- Item Argent -->
        <li class="money UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Argent</h5>
          <img class="item-image" src="images/item-dollar-sign.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>

      </ul>

      <!-- Div contenant les modules de zone d'échange et le chat (milieu de la page) -->
      <div id="exchangeZone" class="col-md-6">
        <h4 class="exchangeZoneHeader ui-widget-header">Trade User</h4>
        <div id="UserExchange" class="container-outer">
          <div id="userExchangeItems" class="container-inner ui-state-default">
          </div>
        </div>
        <h4 class="exchangeZoneHeader ui-widget-header">Trade Opposant</h4>
        <div id="OpponentExchange" class="container-outer">
          <div id="opponentExchangeItems" class="container-inner ui-state-default">
          </div>
        </div>
        <span class="dd animated fadeInDown">
          <div class="BTN_Creds"> 
            <a href="" style="float:left;" class="btn-offre btn btn-sm animated-button thar-two" onclick="">Envoyer l'offre</a>
            <a href="" style="float:right;" class="btn-offre btn btn-sm animated-button thar-two" onclick="">Accepter l'offre!</a> 
          </div>
        </span>
        <div id="zoneChat" class="row-md-3">
          <input id="chatBox" type="text" disabled="disabled"/>
          <input id="chatEnter" type="text"/>
          <input id="btn-enter" type="button" value="Envoyer" />
        </div>
      </div>


      <!-- Liste qui crée une zone inventaire (Opposant) et contient les items-->
      <ul id="OpponentInventory" class="OpponentInventory ui-helper-reset ui-helper-clearfix col-md-3">
        <h5 class="OpponentInventory-header">OpponentInventory</h5>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <li class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Item</h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon " href="#" data-modal-id="modal-InfoItem" onclick="showModalInfoItem()">Info Item</a>
              </div>
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
        <!-- Item Argent -->
        <li class="money OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Argent</h5>
          <img class="item-image" src="images/item-dollar-sign.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
            </div>
            <img src="images/Logo-transparent.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
      </ul>
    </div>

    <!-- Open modal pour l'info d'un item avec les photos (gallery)-->
    <div id="modal-InfoItem" class="modal-box">
      <div>
        <a href="#" title="Fermer" class="js-modal-close close">X</a>
        <h2 style="text-align:center">Nom de l'item de l'usager</h2>
        <div class="or-spacer">
          <div class="mask"></div>
        </div>
        <div id="gallery">
          <div id="panel">
            <img id="mainImage" src="images/UnknownUser.png" />
          </div>
          <div id="divSubImages" class="">
            <img class="subImage" src="images/UnknownUser.png" alt="Image 1" />
            <img class="subImage" src="images/zoom_icon.png" alt="Image 2" />
            <img class="subImage" src="images/move_icon.png" alt="Image 3" />
            <img class="subImage" src="images/UnknownUser.png" alt="Image 4" />
          </div>
        </div>
        <div id="description">
        </div>
        <div class="or-spacer">
          <div class="mask"></div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>

</html>