<html xmlns:th="http://www.thymeleaf.org" th:include="main_template :: page">
<head th:fragment="head">
  <link href="css/style_trade.css" type="text/css" rel="stylesheet"/>
  <link href="jquery-ui-1.11.4/jquery-ui.css" type="text/javascript" rel="stylesheet"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  <script src="js/trade.js" type="text/javascript"></script>
</head>

<body style="font-family:'Amaranth'; background:#00455F;">
<th:block th:fragment="content">
  <form id="tradeForm" style="margin:0px" name="tradeForm" th:action="@{/updateTrade}" method="post">
  <!-- Le User qui créer le trade est le user1 -->
  <input id="tradeState" type="hidden" style="position:absolute" name="tradeState"/>
  <input th:value="${transactionID}" id="TransactionID" type="hidden" style="position:absolute" name="idTransaction"/>
  <input th:value="${userActif.getIduser()}" name="currentUser" type="hidden" style="position:absolute" />
  <input th:value="${opponentID}" name="iduser2" type="hidden" style="position:absolute" />
  <input th:value="${ChatLog.getIdchat()}" name="chatID" type="hidden" style="position:absolute" />
  <input id="tradeObjectsID" type="hidden" style="position:absolute" name="tradeObjects"/>
  <!-- Div container est une class boottrap qui met la page centré -->
  <div class="container tradePage">
    <!-- Page qui conteint tous le modules d'échanges' -->
    <div id="pageTroker" class="ui-widget ui-helper-clearfix col-md-12" data-mcs-theme="3d-thick">
      <!-- Liste qui crée une zone inventaire (User) et contient les items-->
      <ul id="UserInventory" class="UserInventory ui-helper-reset ui-helper-clearfix col-md-3">
        <h5 th:text="'Inventaire à '+${userActif.getIduser()}" class="UserInventory-header"></h5>
        <li th:each="invUser : ${UserInventory}" class="UserItem ui-widget-content ui-corner-tr">
          <h5 th:text="${invUser.getNameObject()}" class="ui-widget-header"></h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon "
                   href="#" data-modal-id="modal-InfoItem"
                   th:onclick="'javascript:showModalInfoItem(\''+ ${invUser.getIdobject()} +'\')'">Info Item</a>
              </div>
            </div>
            <img src="images/add-button-icon.png" class="info-icon ui-icon icon-exchange" />
          </div>
          <input type="hidden" th:value="${invUser.getIdobject()}" class=""/>
        </li>
        <!-- Item Argent -->
        <li class="money UserItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Argent</h5>
          <img class="item-image" src="images/item-dollar-sign.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
            </div>
            <img src="images/add-button-icon.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
      </ul>

      <!-- Div contenant les modules de zone d'échange et le chat (milieu de la page) -->
      <div id="exchangeZone" class="col-md-6">
        <h4 th:text="'Zone d\'échange à ' + ${userActif.getIduser()}" class="exchangeZoneHeader ui-widget-header"></h4>
        <div id="UserExchange" class="container-outer">
          <div id="userExchangeItems" class="container-inner ui-state-default">
            <th:block th:if="${UserTradeItems} ne null">
            <ul class="UserInventory ui-helper-reset">
              <li th:each="userTradeItem : ${UserTradeItems}" class="UserItem ui-widget-content ui-corner-tr" style="display: block; overflow: hidden; width: 80px; height: 80px;">
                <h5 th:text="${userTradeItem.getNameObject()}" class="ui-widget-header"></h5>
                <img class="item-image" src="images/move_icon.png" alt="" style="display: inline-block; overflow: hidden; width: 80px; height: 60px; max-width: 80px; max-height: 60px;"/>
                <div class="optionsItem">
                  <div class="btn-zoom">
                    <img src="images/zoom_icon.png" class="ui-icon icon-zoom"/>
                    <div class="follower">
                      <a class="js-open-modal link-zoom info-icon"
                         href="#" data-modal-id="modal-InfoItem"
                         th:onclick="'javascript:showModalInfoItem(\''+ ${userTradeItem.getIdobject()} +'\')'">Info Item</a>
                    </div>
                  </div>
                </div>
                <img src="images/recycle_icon.png" class="ui-icon icon-refresh"/>
                <input type="hidden" th:value="${userTradeItem.getIdobject()}" class="itemID"/>
              </li>
            </ul>
            </th:block>
          </div>
        </div>
        <h4 th:text="'Zone d\'échange à ' + ${opponentID}" class="exchangeZoneHeader ui-widget-header"></h4>
        <div id="OpponentExchange" class="container-outer">
          <div id="opponentExchangeItems" class="container-inner ui-state-default">
            <ul class="OpponentInventory ui-helper-reset">
              <li th:each="opponentTradeItem : ${OpponentTradeItems}" class="OpponentItem ui-widget-content ui-corner-tr ui-draggable" style="display: block; overflow: hidden; width: 80px; height: 80px;">
                <h5 th:text="${opponentTradeItem.getNameObject()}" class="ui-widget-header"></h5>
                <img class="item-image" src="images/move_icon.png" alt="" style="display: inline-block; overflow: hidden; width: 80px; height: 60px; max-width: 80px; max-height: 60px;"/>
                <div class="optionsItem">
                  <div class="btn-zoom">
                    <img src="images/zoom_icon.png" class="ui-icon icon-zoom"/>
                    <div class="follower">
                      <a class="js-open-modal link-zoom info-icon "
                         href="#" data-modal-id="modal-InfoItem"
                         th:onclick="'javascript:showModalInfoItem(\''+ ${opponentTradeItem.getIdobject()} +'\')'">Info Item</a>
                    </div>
                  </div>
                </div>
                <img src="images/recycle_icon.png" class="ui-icon icon-refresh"/>
                <input type="hidden" th:value="${opponentTradeItem.getIdobject()}" class="itemID"/>
              </li>
            </ul>
          </div>
        </div>
        <span class="dd animated fadeInDown">
              <a id="btn-send-trade" style="float:left;" class="btn-offre btn btn-sm animated-button thar-two" onclick="makeIDList()">Envoyer la contre-offre!</a>
              <a id="btn-accept-trade" style="float:right;" class="btn-offre btn btn-sm animated-button thar-two" onclick="CompleteTransaction()">Accepter l'offre!</a>
        </span>
        <div id="zoneChat" class="row-md-3">
          <textarea th:text="${ChatLog.getMsg()}" name="chatLog" id="chatBoxStartExchange"></textarea>
          <input id="chatEnter" type="text"/>
          <input th:onclick="'javascript:sendChat(\''+${userActif.getIduser()}+'\')'" id="btn-enter" type="button" value="Envoyer" />
        </div>
      </div>


      <!-- Liste qui crée une zone inventaire (Opposant) et contient les items-->
      <ul id="OpponentInventory" class="OpponentInventory ui-helper-reset ui-helper-clearfix col-md-3">
        <h5 th:text="'Inventaire à '+ ${opponentID}" class="OpponentInventory-header"></h5>
        <li th:each="invOpponent : ${OpponentInventory}" class="OpponentItem ui-widget-content ui-corner-tr">
          <h5 th:text="${invOpponent.getNameObject()}"  class="ui-widget-header"></h5>
          <img class="item-image" src="images/move_icon.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
              <img src="images/zoom_icon.png" class="ui-icon icon-zoom" />
              <div class="follower">
                <a class="js-open-modal link-zoom info-icon "
                   href="#" data-modal-id="modal-InfoItem"
                   th:onclick="'javascript:showModalInfoItem(\''+ ${invOpponent.getIdobject()} +'\')'">Info Item</a>
              </div>
            </div>
            <img src="images/add-button-icon.png" class="info-icon ui-icon icon-exchange" />
          </div>
          <input type="hidden" th:value="${invOpponent.getIdobject()}" class=""/>
        </li>
        <!-- Item Argent -->
        <li class="money OpponentItem ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Argent</h5>
          <img class="item-image" src="images/item-dollar-sign.png" alt=""/>
          <div class="optionsItem">
            <div class="btn-zoom">
            </div>
            <img src="images/add-button-icon.png" class="info-icon ui-icon icon-exchange" />
          </div>
        </li>
      </ul>
    </div>

    <!-- Open modal pour l'info d'un item avec les photos (gallery)-->
    <!-- Modal ObjectInfo - User Inventory -->
    <th:block th:each="inv : ${userInventory}">
      <div th:id="'modal-InfoItem'+${inv.getIdobject()}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
        <div>
          <a href="#" title="Fermer" class="js-modal-close close">X</a>
          <h2 th:text="${inv.getNameObject()}" style="text-align:center"></h2>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
          <div class="gallery">
            <div class="panel">
              <img th:id="'mainImage'+${inv.getIdobject()}" class="mainImage" src="images/UnknownUser.png"/>
            </div>
            <div th:id="'divSubImages'+${inv.getIdobject()}" class="divSubImages">
              <img class="subImage" src="images/UnknownUser.png" alt="Image 1" onmouseover="hover(this);"/>
              <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
              <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
              <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
            </div>
          </div>
          <div class="description">
            <h5 th:text="'Propriétaire: ' + ${inv.getIduser()}"></h5>
            <h5 th:text="'Date de création: ' + ${inv.getCreationdate()}"></h5>
            <span th:text="${inv.getDescObject()}"></span>
          </div>
          <br/>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
        </div>
      </div>
    </th:block>
    <!-- Modal ObjectInfo - Opponent Inventory -->
    <th:block th:each="inv : ${OpponentInventory}">
      <div th:id="'modal-InfoItem'+${inv.getIdobject()}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
        <div>
          <a href="#" title="Fermer" class="js-modal-close close">X</a>
          <h2 th:text="${inv.getNameObject()}" style="text-align:center"></h2>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
          <div class="gallery">
            <div class="panel">
              <img th:id="'mainImage'+${inv.getIdobject()}" class="mainImage" src="images/UnknownUser.png"/>
            </div>
            <div th:id="'divSubImages'+${inv.getIdobject()}" class="divSubImages">
              <img class="subImage" src="images/UnknownUser.png" alt="Image 1" onmouseover="hover(this);"/>
              <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
              <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
              <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
            </div>
          </div>
          <div class="description">
            <h5 th:text="'Propriétaire: ' + ${inv.getIduser()}"></h5>
            <h5 th:text="'Date de création: ' + ${inv.getCreationdate()}"></h5>
            <span th:text="${inv.getDescObject()}"></span>
          </div>
          <br/>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
        </div>
      </div>
    </th:block>
    <!-- Modal ObjectInfo - Opponent Exchange -->
    <th:block th:each="tradeItem : ${OpponentTradeItems}">
      <div th:id="'modal-InfoItem'+${tradeItem.getIdobject()}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
        <div>
          <a href="#" title="Fermer" class="js-modal-close close">X</a>
          <h2 th:text="${tradeItem.getNameObject()}" style="text-align:center"></h2>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
          <div class="gallery">
            <div class="panel">
              <img th:id="'mainImage'+${tradeItem.getIdobject()}" class="mainImage" src="images/UnknownUser.png"/>
            </div>
            <div th:id="'divSubImages'+${tradeItem.getIdobject()}" class="divSubImages">
              <img class="subImage" src="images/UnknownUser.png" alt="Image 1" onmouseover="hover(this);"/>
              <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
              <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
              <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
            </div>
          </div>
          <div class="description">
            <h5 th:text="'Propriétaire: ' + ${tradeItem.getIduser()}"></h5>
            <h5 th:text="'Date de création: ' + ${tradeItem.getCreationdate()}"></h5>
            <span th:text="${tradeItem.getDescObject()}"></span>
          </div>
          <br/>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
        </div>
      </div>
    </th:block>
    <!-- Modal ObjectInfo - User Exchange -->
    <th:block th:each="tradeItem : ${UserTradeItems}">
      <div th:id="'modal-InfoItem'+${tradeItem.getIdobject()}" name="modal-Item-Info" class="modal-box modal-InfoItem-class">
        <div>
          <a href="#" title="Fermer" class="js-modal-close close">X</a>
          <h2 th:text="${tradeItem.getNameObject()}" style="text-align:center"></h2>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
          <div class="gallery">
            <div class="panel">
              <img th:id="'mainImage'+${tradeItem.getIdobject()}" class="mainImage" src="images/UnknownUser.png"/>
            </div>
            <div th:id="'divSubImages'+${tradeItem.getIdobject()}" class="divSubImages">
              <img class="subImage" src="images/UnknownUser.png" alt="Image 1" onmouseover="hover(this);"/>
              <img class="subImage" src="images/zoom_icon.png" alt="Image 2" onmouseover="hover(this);"/>
              <img class="subImage" src="images/move_icon.png" alt="Image 3" onmouseover="hover(this);"/>
              <img class="subImage" src="images/UnknownUser.png" alt="Image 4" onmouseover="hover(this);"/>
            </div>
          </div>
          <div class="description">
            <h5 th:text="'Propriétaire: ' + ${tradeItem.getIduser()}"></h5>
            <h5 th:text="'Date de création: ' + ${tradeItem.getCreationdate()}"></h5>
            <span th:text="${tradeItem.getDescObject()}"></span>
          </div>
          <br/>
          <div class="or-spacer">
            <div class="mask"></div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  </form>
</th:block>
</body>

</html>