<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="openModalPassword">
    <form method="post" th:action="@{/passwordChange}">

        <div id="openModalPassword" class="modalDialogPassword">
            <div style="font-family:Amaranth"> <!-- 1 -->

                <a href="#close" title="Fermer" class="close">X</a>

                <h2 style="text-align:center">Changement Mot de Passe</h2>

                <div class="or-spacer">
                    <div class="mask"></div>
                </div>

                <div style="text-align:center"> <!-- 2 -->
                    <input class="signup-full" type="password" placeholder="Ancien mot de passe" name="old_password"
                           id="old_password"/>
                    <input class="signup-full" type="password" placeholder="Nouveau mot de passe" name="new_password"
                           id="new_password"/>
                    <input class="signup-full" type="password" placeholder="Confirmation mot de passe"
                           name="confirm_password" id="confirm_password"/>
                </div>
                <!-- fin 2 -->

                <br/>

                <div class="or-spacer">
                    <div class="mask"></div>
                </div>
                <!-- erreur Ici -->
                <div>
                    <p th:if="${session.errorPassword} ne null">

                    <p style="color:red" th:text="${session.errorPassword}"></p></p>
                </div>

                <div>
                    <!--<a href="#valid" style="text-align:center;font-size:16px" title="Valider" class="valid">Valider</a>-->
                    <input type="submit" class="valid" title="Valider" style="text-align: center; font-size:16px;"/>
                </div>

            </div>
            <!-- fin 1 -->
        </div>
        <!-- end openModalPassword -->

    </form>
</div>
</body>
</html>