<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pageinventaire">

    <form th:action="@{/UpdateUser}" method="post" id="formUser" enctype="multipart/form-data">
        <div id="MyInventory" class="col-md-12">
            <div id="LeftSpace" class="col-md-2"></div>

            <div id="MiddleInfo" class="col-md-8">
                <div id="InventoryBanner" class="col-md-12">

                    <div id="topAdd" th:style="*{userInventory.size() eq 0}? 'display:none;':''">


                            <a id="iconAdd2" class="icon-plus-sign icon-6x" href="/openModalAjouter"
                               data-toggle="tooltip" data-placement="bottom" title="Ajouter un nouvel item / service!"
                               style="text-decoration:none; color:white; font-size:80px;"></a><br/>

                    </div>


                    <div id="RectangleName2" class="col-md-12 rectangle3">
                        <div style="text-align:center">
                        <span id="UserName">Mon Inventaire</span>
                        </div>
                    </div>
                    <div class="triangle-l" style="position:absolute;"></div>
                    <div class="triangle-r" style="position:absolute; top:65px;"></div>


                </div>

                <div id="InventoryInfo" class="col-md-12">


        <div id="InventoryContainer" style="height:100%; margin-bottom:60px;">


            <div id="AddButton" th:style="*{userInventory.size() eq 0}? '':'display:none;'">
                <div style="margin-top:20%">
                    <span th:text="'Débutez votre trok en ajoutant'" style="font-size:25px; z-index:91"></span><br/>
                    <span th:text="'votre premier item / service!'" style="font-size:25px; z-index:91"></span><br/>
                    <a id="iconAdd" class="icon-plus-sign icon-6x" href="/openModalAjouter"
                       style="text-decoration:none; color:white; font-size:80px;"></a><br/>
                </div>
            </div>


            <div class="container main-container" style="height:100%;">

                <div id="carousel-example-generic" style="height:100%" class="carousel slide">

                    <ol class="carousel-indicators" style="position:absolute;">
                        <th:block th:each="invent : ${userInventory}">
                            <li data-target="#carousel-example-generic"
                                th:data-slide-to="${inventStat.index}"
                                th:class="*{inventStat.index eq 0} ? 'active' : ''"
                                th:style="'background-image:url(/uploaded-images/'+ ${listeImage.get(inventStat.index).get(0).getGuidimage()}+');width:40px;height:40px;border-radius:100%;background-size:cover'"></li>
                        </th:block>
                    </ol>


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="height:100%;overflow:auto;overflow: hidden;" role="listbox">

                        <th:block th:each="invent : ${userInventory}" th:for="${'invent' + inventStat.index }">
                            <!-- Second slide -->

                            <div th:class="*{inventStat.index eq 0} ? 'Innerdiv item active skyblue' : 'Innerdiv item skyblue'">
                                <div class="carousel-caption" style="top:5%">
                                    <th:block th:if="${invent ne null and listeImage.get(inventStat.index).get(0).getIsmain().length()eq 1}">
                                    <h3 class="icon-container bubbleinv">
                                        <!--<span class="glyphicon glyphicon-glass"></span>-->
                                        <div class="circular"><img
                                                th:src="'/uploaded-images/' + ${listeImage.get(inventStat.index).get(0).getGuidimage()}"
                                                alt="" class="circularimage" /></div>

                                    </h3>
                                    </th:block>
                                    <th:block th:if="${invent ne null and listeImage.get(inventStat.index).get(1).getIsmain().length()eq 1}">
                                        <h3 class="icon-container bubbleinv" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular">
                                                <img th:src="'/uploaded-images/' +${listeImage.get(inventStat.index).get(1).getGuidimage()}"
                                                     alt="" class="circularimage" />
                                            </div>

                                        </h3>
                                    </th:block>

                                    <th:block th:if="${invent ne null and listeImage.get(inventStat.index).get(2).getIsmain().length()eq 1}">
                                        <h3 class="icon-container bubbleinv" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular">
                                                <img th:src="'/uploaded-images/' +${listeImage.get(inventStat.index).get(2).getGuidimage()}"
                                                     alt="" class="circularimage" /></div>

                                        </h3>
                                    </th:block>

                                    <th:block th:if="${invent ne null and listeImage.get(inventStat.index).get(3).getIsmain().length()eq 1}">
                                        <h3 class="icon-container bubbleinv" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular">
                                                <img th:src="'/uploaded-images/' +${listeImage.get(inventStat.index).get(3).getGuidimage()}"
                                                     alt="" class="circularimage" /></div>

                                        </h3>
                                    </th:block>

                                    <!-- nom de l'objet -->
                                    <h3 data-animation="animated flipInX" style="font-size:18px; background-color:transparent; text-transform:uppercase;
							                letter-spacing:.08em" th:text="${invent.getNameObject()}">
                                    </h3>

                                    <!-- text de l'objet -->
                                    <div>
                                        <div class="stage">
                                            <figure class="ball"><span class="shadow"></span></figure>

                                    <textarea  th:readonly="readonly" class="DescTextArea" data-animation="animated flipInX"
                                               style="font-size:14px;" th:text="${invent.getDescObject()}">

                                    </textarea>
                                            </div>

                                    </div>

                                    <div class="divAMS">
                                        <div id="innerbtn">
                                        <!--<a class="btn btn-warning bubbleinv"-->
                                           <!--style="font-weight:normal;margin-right:20px; color:white; border:white"-->
                                           <!--th:onclick="'javascript:modalSubmitModifier(\''+${invent.getIdobject()}+'\')'">Modifier</a>-->

                                        <!--<a class="btn btn-danger bubbleinv"-->
                                           <!--style="font-weight:normal; color:white; border:white"-->
                                           <!--th:onclick="'javascript:modalSubmitDelete(\''+${invent.getIdobject()}+'\')'" >Supprimer</a>-->


                                                <i id="iconMod" class="icon-edit-sign icon-4x" data-toggle="tooltip"
                                               data-placement="top" title="Modifier un item/service!" th:onclick="'javascript:modalSubmitModifier(\''+${invent.getIdobject()}+'\')'"/>
                                            <i id="iconDel" class="icon-remove-sign icon-4x" data-toggle="tooltip"
                                               data-placement="top" title="Effacer un item/service!" th:onclick="'javascript:modalSubmitDelete(\''+${invent.getIdobject()}+'\')'"/>


                                    </div>

                                    </div>


                                </div>

                            </div>




                        </th:block>

                        <form th:action="'profilinv#openModalAjouter'" method="get" id="ajouter">
                        </form>
                        <form th:action="@{/openModalModifier}" method="post" id="modifier" >
                            <input type="hidden" name="idObjectModifier" id="idObjectModifier"/>
                        </form>
                        <form th:action="@{/openModalDelete}" method="post" id="deleter" >
                            <input type="hidden" name="idObjectDelete" id="idObjectDelete"/>
                        </form>

                    </div><!-- /.carousel-inner -->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" >
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" >
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- /.carousel -->
            </div><!-- /.container main-container -->
        </div> <!-- fin RightDiv -->
                </div>




            </div>

            <div id="RightSpace" class = "col-md-2"></div>
        </div>
    </form>
    </div>
</body>
</html>