<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="profilContent">
            <div class="mainDiv" style="font-family:Amaranth">

                <div class="leftDiv">
                    <div class="profilDiv">

                        <div class = "profilPhotoDiv">
                            <div id="avatarProfil" src="#" alt="avatar" class="avatarProfil">
                                <div id="avatarOverlay" style="">
                                    <div id="avatarPlus" disabled="disabled">
                                        <!--<p id="textFileExplorer" style="left:4%; top:15%;">Changer votre <br> image de profil<p>-->
                                        <input id="fileExplorer" type="file" onchange="PreviewImage(this.value);" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class = "profilInfoDiv">

                            <div class = "profilLeftDiv">
                                <!--</br>-->
                                <input class="signup-full" name="profile-username" placeholder="Nom d'usager" type="text" tabindex="1" th:value="${userActif.getIduser()}"/>
                                <input class="signup-full" name="profile-prenom" placeholder="Prénom" type="text" tabindex="2" th:value="${userActif.getFirstname()}"/>
                                <input class="signup-full" name="profile-nomfamille" placeholder="Nom de famille" type="text" tabindex="3" th:value="${userActif.getLastname()}"/>

                            </div>

                            <div class = "profilRightDiv">
                               <!-- </br>-->
                                <input class="signup-full phone_ca" name="profile-telephone" placeholder="Telephone" id="phone" type="text" tabindex="1" th:value="${userActif.getTelephone()}"/>
                                <input class="signup-full zipcode" name="profile-codepostal" placeholder="Code Postal" type="text" tabindex="3" th:value="${userActif.getZipcode()}"/>
                                <input class="signup-full" name="profile-email" placeholder="Email" type="text" tabindex="3" th:value="${userActif.getEmail()}"/>
                            </div>

                            <div class = "profilInfoButtons">
                                <div class="BTN_Change">
                                    <a href="#openModalPassword" class="btn btn-sm animated-button thar-four" style="font-weight:normal">Changement du mot de passe
                                    </a>
                                    <a href="" class="btn btn-sm animated-button thar-four" onclick="ChangeInfo()" style="font-weight:normal">Enregistrer les modifications</a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="coteDiv">

                        <div style="margin: auto; width: 200px; height:60%; padding-top:10%; text-align:center;">
                            <label style="font-weight:normal">Transaction # 23</label>
                            <label style="font-weight:normal">2015-09-22 10:22:00 PM</label>
                            <span class="starRating">
                            <input id="rating5" type="radio" name="rating" value="5"/>
                            <label style="cursor:pointer;">5</label>
                            <input id="rating4" type="radio" name="rating" value="4"/>
                            <label style="cursor:pointer;">4</label>
                            <input id="rating3" type="radio" name="rating" value="3"/>
                            <label style="cursor:pointer;">3</label>
                            <input id="rating2" type="radio" name="rating" value="2"/>
                            <label style="cursor:pointer;">2</label>
                            <input id="rating1" type="radio" name="rating" value="1"/>
                            <label style="cursor:pointer;">1</label>
                            </span>
                        </div>
                    </div>
                </div><!-- fin LeftDiv -->

                <div class="rightDiv">

                    <div class="container main-container" style="height:100%;">

                        <div id="carousel-example-generic" style="height:100%" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" style="height:100%" role="listbox">

                                <!-- First slide -->
                                <div class="item active deepskyblue">

                                    <div class="carousel-caption">
                                        <h3 class="icon-container">
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <!-- nom de l'objet -->
                                        <h3 data-animation="animated flipInX" style="font-size:18px; background-color:transparent; text-transform:uppercase;
										letter-spacing:.08em" th:text="${userInventory[0].getNameObject()}">

                                        </h3>
                                        <!-- text de l'objet -->
                                        <h3 data-animation="animated flipInX" style="font-size:14px;" th:text="${userInventory[0].getDescObject()}">


                                        </h3>
                                        <div class="divAMS">
                                            <a href="#openModalAjouter"><button class="buttonAjout">Ajouter</button></a>
                                            <button class="buttonModif">Modifier</button>
                                            <button class="buttonSupp">Supprimer</button>
                                        </div>
                                    </div>
                                </div> <!-- /.item -->

                                <!-- Second slide -->
                                <div class="item skyblue">
                                    <div class="carousel-caption">
                                        <h3 class="icon-container">
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 data-animation="animated flipInX" style="font-size:18px; background-color:transparent; text-transform:uppercase;
							letter-spacing:.08em">
                                            Unknown Object For Sale
                                        </h3>

                                        <h3 data-animation="animated flipInX" style="font-size:14px;">
                                            Description de l'objet parcequ'il y a beaucoup de choses a dire sur le sujet.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.

                                        </h3>
                                        <div class="divAMS">
                                            <button class="buttonAjout">Ajouter</button>
                                            <button class="buttonModif">Modifier</button>
                                            <button class="buttonSupp">Supprimer</button>
                                        </div>
                                    </div>
                                </div><!-- /.item -->

                                <!-- Third slide -->
                                <div class="item darkerskyblue">
                                    <div class="carousel-caption">
                                        <h3 class="icon-container">
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 class="icon-container" >
                                            <!--<span class="glyphicon glyphicon-glass"></span>-->
                                            <div class="circular"><img src="images/UnknownUserJPG.jpg" alt="" class="circularimage" /></div>

                                        </h3>
                                        <h3 data-animation="animated flipInX" style="font-size:18px; background-color:transparent; text-transform:uppercase;
							letter-spacing:.08em">
                                            Unknown Object For Sale
                                        </h3>

                                        <h3 data-animation="animated flipInX" style="font-size:14px;">
                                            Description de l'objet parcequ'il y a beaucoup de choses a dire sur le sujet.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                                            Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.

                                        </h3>
                                        <div class="divAMS">
                                            <button class="buttonAjout">Ajouter</button>
                                            <button class="buttonModif">Modifier</button>
                                            <button class="buttonSupp">Supprimer</button>
                                        </div>
                                    </div>

                                </div><!-- /.item -->

                            </div><!-- /.carousel-inner -->

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div><!-- /.carousel -->

                    </div><!-- /.container main-container -->

                </div> <!-- fin RightDiv -->

            </div><!-- fin mainDiv -->
        </div> <!-- fin Fragment -->
    </body>
</html>